{% extends 'back_office_base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tableau de bord</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="container profil-form">

        {{ form_start(form, {'attr':{'class':'profil_utilisateur'}}) }}

        <fieldset>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label" for="salutation">Salutation</label>
                        {{ form_widget(form.salutation, {'attr': {'class':'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label" for="nom">Nom</label>
                        {{ form_widget(form.username, {'attr': {'class':'form-control'}}) }}
                    </div>
                </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label class="control-label" for="prenom">Prenom</label>
                    {{ form_widget(form.lastName, {'attr': {'class':'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label class="control-label" for="email">Email</label>
                    {{ form_widget(form.email, {'attr': {'class':'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label class="control-label" for="fonction">Fonction</label>
                    {{ form_widget(form.jobTitle, {'attr': {'class':'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label class="control-label" for="adresse">Adresse</label>
                    {{ form_widget(form.addressLine, {'attr': {'class':'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label class="control-label" for="code-postal">Code Postal</label>
                    {{ form_widget(form.postalCode, {'attr': {'class':'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label class="control-label" for="domaine_detute">Domaine d'Etude</label>
                    {{ form_widget(form.domaineEtude, {'attr': {'class':'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label class="control-label" for="niveau_academique">Niveau Academique</label>
                    {{ form_widget(form.niveauAcademique, {'attr': {'class':'form-control'}}) }}
                </div>
            </div>
            {{ form_widget(form._token) }}
            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-lg btn-block info">Send</button>
                </div>
            </div>
            </fieldset>
    </div>
{% endblock %}
