{% extends 'back_office_base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tableau de bord</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row block-profil">
        <div class="col-md-6">
            <span class="entete">salutation : </span><span class="profil-info">{{ app.user.salutation }}</span><hr>
            <span>Nom : </span><span class="profil-info">{{ app.user.username }}</span><hr>
            <span>Prenom : </span><span class="profil-info">{{ app.user.lastName }}</span><hr>
            <span>Email : </span><span class="profil-info">{{ app.user.email }}</span><hr>
        </div>
        <div class="col-md-6">
            <span>Fonction : </span><span class="profil-info">{{ app.user.jobTitle }}</span><hr>
            <span>addresse : </span><span class="profil-info">{{ app.user.addressLine }}</span><hr>
            <span>Code Postal: </span><span class="profil-info">{{ app.user.postalCode }}</span><hr>
            {#<span>role : </span><span class="profil-info">{% for role in app.user.roles %} {{ role }} {% endfor %}</span><hr>#}
        </div>
    </div>
    <span class="right"><a href="{{ path('user_profil_edit') }}"><button class="btn btn-primary">Modifier</button></a></span>
{% endblock %}
