{% extends "::back_office_base.html.twig" %}

{% block title %}BackOfficeBundle:Relecture:noter{% endblock %}

{% block body %}
<h1>page d'evaluation</h1>
    <div>
        <div>
            <h4>{{ abstractClass.titre }}</h4>
        </div>
        <div>
            <div class="row">
                <div class="col-lg-8" style="height:375px; overflow-y:scroll">
                    <p>{{ abstractClass.justification|raw }}</p>
                    <p>{{ abstractClass.objectif|raw }}</p>
                    <p>{{ abstractClass.methodologie|raw }}</p>
                    <p>{{ abstractClass.resultats|raw }}</p>
                    <p>{{ abstractClass.conclusionOrRecommandations|raw }}</p>
                </div>
                <div class="col-lg-4" >
                    <div class="col-lg-12" style="border-left: 1px #000000 solid">
                        <ul>
                            <li>
                                <dl>
                                    <dt>est validé</dt>
                                    <dd>{% if abstractClass.estvalide %}Yes{% else %}Non{% endif %}</dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>proprietaire</dt>
                                    <dd>
                                        {% if abstractClass.proprietaire %}
                                            {{ abstractClass.proprietaire.username }}
                                        {% endif %}
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>auteurs</dt>
                                    <dd>
                                        <ul >
                                            {% for auteur in abstractClass.auteurs %}
                                                <li>
                                                    {{ auteur.nom }} -
                                                    {{ auteur.niveauacademique }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>mots clefs</dt>
                                    <dd>
                                        <ul>
                                            {% for motclef in abstractClass.motclef %}
                                                <li>{{ motclef.mot }}</li>
                                            {% endfor %}
                                        </ul>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-12" style="border-left: 1px #000000 solid; margin-top: 5px">
                        {{ form_start(form) }}
                            {% for note in form.notes %}
                                <li>{{ note.vars.data.critereDeNotation.critere }} {{ form_widget(note.note) }} {{ form_errors(note.note) }}</li>
                            {% endfor %}
                        {{ form_end(form) }}
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}
