{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>Creation d'abstract</h1>
    {{ form_start(edit_form) }}
    <div class="form-group">
        {{ form_label(edit_form.titre) }}:
        {{ form_widget(edit_form.titre,{'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(edit_form.auteurs) }}
    </div>
    <a id="add_auteur" href="#" class="btn btn-default">Ajouter un Auteur</a>
    <div class="form-group">
        {{ form_row(edit_form.motclef) }}
    </div>
    <a id="add_motclef" href="#" class="btn btn-default">Ajouter un Mot Clef</a>
    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('abstract_index') }}">Retour a la liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!--<script src='{{ asset('tinymce/tinymce.min.js') }}'></script>-->
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=np975634r5u3f75q04jk5vqrhfre1ido0auu3hk8acc3x1la"></script>
    <script>
        tinymce.init({
            selector: '#appbundle_abstractclass_summary'
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $containerAuteurs = $('div#appbundle_abstractclass_auteurs')
            var index = $containerAuteurs.find(':input').length/3 - 1;

            $('#add_auteur').click(function (e) {
                addAuteurs($containerAuteurs);
                e.preventDefault();
                return false;
            });

            if(index === -1 ){
                addAuteurs($containerAuteurs);
                index++;
            }else{
                $containerAuteurs.children('div').each(function () {
                    addDeleteLink($(this));
                });
            }

            function addAuteurs($containerAuteurs) {
                var template = $containerAuteurs.attr('data-prototype')
                    .replace(/__name__label__/g,'New auteur')
                    .replace(/__name__/g, (index+1))

                var $prototype = $(template);
                addDeleteLink($prototype);
                $containerAuteurs.append($prototype);
                index++
            }

            function addDeleteLink($prototype) {
                var $deleteLink = $('<br><a href="#" class="btn btn-banger">Supprimer</a><br><br>');
                $prototype.append($deleteLink);
                $deleteLink.click(function (e) {
                    $prototype.remove();
                    e.preventDefault();
                    return false;
                })
            }
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $containerMotclef = $('div#appbundle_abstractclass_motclef')
            var indexMotclef = $containerMotclef.find(':input').length;

            $('#add_motclef').click(function (e) {
                addMotclef($containerMotclef);
                e.preventDefault();
                return false;
            });

            if(indexMotclef == 0 ){
                addMotclef($containerMotclef)
            }else{
                $containerMotclef.children('div').each(function () {
                    addDeleteLinkMotclef($(this));
                });
            }

            function addMotclef($containerMotclef) {
                var template = $containerMotclef.attr('data-prototype')
                    .replace(/__name__label__/g,'Mot clef '+(indexMotclef+1))
                    .replace(/__name__/g, (indexMotclef+1))

                var $prototype = $(template);
                addDeleteLinkMotclef($prototype);
                $containerMotclef.append($prototype);
                indexMotclef++
            }

            function addDeleteLinkMotclef($prototype) {
                var $deleteLink = $('<br><a href="#" class="btn btn-primary">Supprimer</a><br><br>');
                $prototype.append($deleteLink);
                $deleteLink.click(function (e) {
                    $prototype.remove();
                    indexMotclef--;
                    e.preventDefault();
                    return false;
                })
            }
        })
    </script>
{% endblock %}