{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>Liste des Abstracts</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <strong>
                <th>Id</th>
                <th>Titre</th>
                <th>Proprietaire</th>
                <th>Relecteurs</th>
                <th>Mots clefs</th>
                <th>Est validé?</th>
                <th>Actions</th>
                </strong>
            </tr>
        </thead>
        <tbody>
        {% for abstractClass in abstractClasses %}
            {% if 'ROLE_ADMIN' in app.user.roles or abstractClass.proprietaire and abstractClass.proprietaire.id == app.user.id %}
                <div class="modal fade" id="myModal-{{ abstractClass.id }}" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{ abstractClass.titre }}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div style="border: solid 1px; padding: 5px">
                                            <h4><u>justification</u></h4>
                                            <p>{{ abstractClass.justification|raw }}</p>
                                            <h4><u>objectif</u></h4>
                                            <p>{{ abstractClass.objectif|raw }}</p>
                                            <h4><u>methodologie</u></h4>
                                            <p>{{ abstractClass.methodologie|raw }}</p>
                                            <h4><u>resultats</u></h4>
                                            <p>{{ abstractClass.resultats|raw }}</p>
                                            <h4><u>conclusion/recommandations</u></h4>
                                            <p>{{ abstractClass.conclusionOrRecommandations|raw }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" >
                                        <div class="col-lg-12" style="border-left: 1px #000000 solid">
                                            <ul>
                                                <li>
                                                    <dl>
                                                        <dt>est validé</dt>
                                                        <dd>{% if abstractClass.estvalide %}Yes{% else %}Non{% endif %}</dd>
                                                    </dl>
                                                </li>
                                                <li>
                                                    <dl>
                                                        <dt>proprietaire</dt>
                                                        <dd>
                                                            {% if abstractClass.proprietaire %}
                                                                {{ abstractClass.proprietaire.username }}
                                                            {% endif %}
                                                        </dd>
                                                    </dl>
                                                </li>
                                                <li>
                                                    <dl>
                                                        <dt>mots clefs</dt>
                                                        <dd>
                                                            <div class="list-group">
                                                                {% for motclef in abstractClass.motclef %}
                                                <li class="list-group-item">{{ motclef.mot }}</li>
                                                {% endfor %}
                                                </dic>
                                                </dd>
                                                </dl>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <br>
                                    <div class="col-lg-12">
                                        <div class="list-group">
                                            <div class="list-group-item list-group-item-info">
                                                Listes des auteurs
                                            </div>
                                            {% for auteur in abstractClass.auteurs %}
                                                <div class="list-group-item">
                                                    <span class="label label-default">{{ auteur.nom }} {{ auteur.prenom }}</span>
                                                    <span class="label label-default">{{ auteur.niveauacademique }}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal fade" id="note-{{ abstractClass.id }}" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{ abstractClass.titre }}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1">
                                        {% for ahr in abstractClass.abstractHasRelecteurs %}
                                            <div class="col-sm-6">
                                                <div class="panel panel-primary">
                                                        <div class="panel-heading">
                                                            {{ ahr.relecteur.username }}
                                                        </div>
                                                        <div class="panel-body">
                                                        {% if ahr.noteAbstracts is not null %}
                                                            <div>
                                                                <u>notes :</u><br>
                                                            {% for note in ahr.noteAbstracts %}
                                                                {% if note.critereDeNotation is not null %}
                                                                    <i>{{ note.critereDeNotation.critere }} :</i>
                                                                    {{ note.note }}<br/>
                                                                {% endif %}
                                                            {% endfor %}
                                                            </div>
                                                            <hr>
                                                            <div>
                                                                <u>observation :</u><br/>
                                                                {{ ahr.observation }}
                                                            </div>
                                                            <hr>
                                                            <div>
                                                                <u>commentaire :</u><br>
                                                                {{ ahr.commentaire }}
                                                            </div>
                                                        {% else %}
                                                            Ce relecteur n'a pas encore noter.
                                                        {% endif %}
                                                        </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <tr>
                <td><a href="{{ path('abstract_show', { 'id': abstractClass.id }) }}">{{ abstractClass.id }}</a></td>
                <td>{{ abstractClass.titre }}</td>
                <td>
                {% if abstractClass.proprietaire %}
                    {{ abstractClass.proprietaire.username }}
                {% endif %}
                </td>
                <td>
                    <table class="table">
                        {% for aar in abstractClass.abstractHasRelecteurs %}
                            <tr>
                                <td>{{ aar.relecteur.username }}</td>
                                <td>{{ aar.relecteur.domaineetude }}</td>
                                <td>{{ aar.relecteur.niveauacademique }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <table class="table">
                        {% for motclef in abstractClass.motclef %}
                            <tr>
                                <td>{{ motclef.mot }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>{% if abstractClass.estValide %}Yes{% else %}No{% endif %}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal-{{ abstractClass.id }}"><i class="fa fa-eye"></i> voir l'abstact</button>
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#note-{{ abstractClass.id }}"><i class="fa fa-eye"></i> voir les notes</button>
                        {% endif %}
                        {% if abstractClass.proprietaire and abstractClass.proprietaire.id == app.user.id %}
                            <a href="{{ path('abstract_edit', { 'id': abstractClass.id }) }}" class="btn btn-primary btn-xs"><i class="fa fa-pencil-square"></i> Editer</a>
                        {% endif %}
                    </div>
                    <br><br>
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                    <a href="{{ path('admin_abstractclasscontroller_setrelecteurs', { 'id': abstractClass.id }) }}" class="btn btn-primary btn-sm"><i class="fa fa-book"></i> Definir relecteurs</a>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('abstract_new') }}" class="btn btn-primary">Creer un nouveau abstract</a>

{% endblock %}
