{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>Creation d'abstract</h1>
    <div style="margin: 0 auto; width: 700px;">
        {% for label, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="flash-{{ label }} alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.titre) }}:
            {{ form_widget(form.titre,{'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.justification) }}:
            {{ form_widget(form.justification,{'attr':{'novalidate':true}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.objectif) }}:
            {{ form_widget(form.objectif,{'attr':{'novalidate':true}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.methodologie) }}:
            {{ form_widget(form.methodologie,{'attr':{'novalidate':true}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.resultats) }}:
            {{ form_widget(form.resultats,{'attr':{'novalidate':true}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.conclusionOrRecommandations) }}:
            {{ form_widget(form.conclusionOrRecommandations,{'attr':{'novalidate':true}}) }}
        </div>
        <div class="form-group panel panel-primary">
            <div class="panel-body">
                {{ form_row(form.auteurs) }}
            </div>
            <div class="panel-footer">
                <a id="add_palmares" href="#" class="btn btn-default">Ajouter un Auteur</a>
            </div>
        </div>
        <div class="form-group panel panel-primary">
            <div class="panel-body">
                {{ form_row(form.motclef) }}
            </div>
            <div class="panel-footer">
                <a id="add_motclef" href="#" class="btn btn-default">Ajouter un Mot Clef</a>
            </div>
        </div>
        {{ form_end(form) }}
        <a href="{{ path('abstract_index') }}" class="btn btn-primary">Revenir à la liste</a>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!--<script src='{{ asset('tinymce/tinymce.min.js') }}?apiKey=your_API_key'></script>-->
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=np975634r5u3f75q04jk5vqrhfre1ido0auu3hk8acc3x1la"></script>
    <script>
        tinymce.init({
            selector: '#appbundle_abstractclass_justification'
        });
        tinymce.init({
            selector: '#appbundle_abstractclass_objectif'
        });
        tinymce.init({
            selector: '#appbundle_abstractclass_methodologie'
        });
        tinymce.init({
            selector: '#appbundle_abstractclass_resultats'
        });
        tinymce.init({
            selector: '#appbundle_abstractclass_conclusionOrRecommandations'
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $containerPalmares = $('div#appbundle_abstractclass_auteurs')
            var index = $containerPalmares.find(':input').length/3;

            $('#add_palmares').click(function (e) {
                addPalmares($containerPalmares);
                e.preventDefault();
                return false;
            });

            if(index == 0 ){
                addPalmares($containerPalmares)
            }else{
                $containerPalmares.children('div').each(function () {
                    addDeleteLink($(this));
                });
            }

            function addPalmares($containerPalmares) {
                var template = $containerPalmares.attr('data-prototype')
                    .replace(/__name__label__/g,'Auteur '+(index+1))
                    .replace(/__name__/g, (index+1))

                var $prototype = $(template);
                addDeleteLink($prototype);
                $containerPalmares.append($prototype);
                index++
            }

            function addDeleteLink($prototype) {
                var $deleteLink = $('<br><a href="#" class="btn btn-primary">Supprimer</a><br><br>');
                $prototype.append($deleteLink);
                $deleteLink.click(function (e) {
                    $prototype.remove();
                    index--;
                    e.preventDefault();
                    return false;
                })
            }
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $containerMotclef = $('div#appbundle_abstractclass_motclef')
            var indexMotclef = $containerMotclef.find(':input').length;

            $('#add_motclef').click(function (e) {
                addMotclef($containerMotclef);
                e.preventDefault();
                return false;
            });

            if(indexMotclef == 0 ){
                addMotclef($containerMotclef)
            }else{
                $containerMotclef.children('div').each(function () {
                    addDeleteLinkMotclef($(this));
                });
            }

            function addMotclef($containerMotclef) {
                var template = $containerMotclef.attr('data-prototype')
                    .replace(/__name__label__/g,'Mot clef '+(indexMotclef+1))
                    .replace(/__name__/g, (indexMotclef+1))

                var $prototype = $(template);
                addDeleteLinkMotclef($prototype);
                $containerMotclef.append($prototype);
                indexMotclef++
            }

            function addDeleteLinkMotclef($prototype) {
                var $deleteLink = $('<br><a href="#" class="btn btn-primary">Supprimer</a><br><br>');
                $prototype.append($deleteLink);
                $deleteLink.click(function (e) {
                    $prototype.remove();
                    indexMotclef--;
                    e.preventDefault();
                    return false;
                })
            }
        })
    </script>
    <!-- mail -->
    <script type="text/javascript">
        $(document).ready(function () {
            var $containerMmail = $('div[id*=appbundle_abstractclass_auteurs_][id$=_emails]')
            var indexMmail = $containerMmail.find(':input').length/2;

            $containerMmail.append('<a id="add_mail" href="#" class="btn btn-default">Ajouter un mail</a>')
            $('#add_mail').click(function (e) {
                addMmail($containerMmail);
                e.preventDefault();
                return false;
            });

            if(indexMmail == 0 ){
                addMmail($containerMmail)
            }else{
                $containerMmail.children('div').each(function () {
                    addDeleteLinkMmail($(this));
                });
            }

            function addMmail($containerMmail) {
                var template = $containerMmail.attr('data-prototype')
                    .replace(/Auteur/g,'Mail '+(indexMmail+1)+' - Auteur ')
                    .replace(/__name__/g, (indexMmail+1))

                var $prototype = $(template);
                addDeleteLinkMmail($prototype);
                $containerMmail.append($prototype);
                indexMmail++
            }

            function addDeleteLinkMmail($prototype) {
                var $deleteLink = $('<br><a href="#" class="btn btn-primary">Supprimer</a><br><br>');
                $prototype.append($deleteLink);
                $deleteLink.click(function (e) {
                    $prototype.remove();
                    indexMmail--;
                    e.preventDefault();
                    return false;
                })
            }
        })
    </script>
    <!-- tel -->
    <script type="text/javascript">
        $(document).ready(function () {
            var $containerTel = $('div[id*=appbundle_abstractclass_auteurs_][id$=_telephones]')
            var indexTel = $containerTel.find(':input').length/2;

            $containerTel.append('<a id="add_tel" href="#" class="btn btn-default">Ajouter un numero</a>')
            $('#add_tel').click(function (e) {
                addTel($containerTel);
                e.preventDefault();
                return false;
            });

            if(indexTel == 0 ){
                addTel($containerTel)
            }else{
                $containerTel.children('div').each(function () {
                    addDeleteLinkTel($(this));
                });
            }

            function addTel($containerTel) {
                var template = $containerTel.attr('data-prototype')
                    .replace(/Auteur/g,'Numero '+(indexTel+1)+' - Auteur ')
                    .replace(/__name__/g, (indexTel+1))

                var $prototype = $(template);
                addDeleteLinkTel($prototype);
                $containerTel.append($prototype);
                indexTel++
            }

            function addDeleteLinkTel($prototype) {
                var $deleteLink = $('<br><a href="#" class="btn btn-primary">Supprimer</a><br><br>');
                $prototype.append($deleteLink);
                $deleteLink.click(function (e) {
                    $prototype.remove();
                    indexTel--;
                    e.preventDefault();
                    return false;
                })
            }
        })
    </script>

{% endblock %}