{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>Validation de l'abstract</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ abstractClass.titre }}</td>
            </tr>
            <tr>
                <th>summary</th>
                <td>
                    <h4><u>justification</u></h4>
                    <p>{{ abstractClass.justification|raw }}</p>
                    <h4><u>objectif</u></h4>
                    <p>{{ abstractClass.objectif|raw }}</p>
                    <h4><u>methodologie</u></h4>
                    <p>{{ abstractClass.methodologie|raw }}</p>
                    <h4><u>resultats</u></h4>
                    <p>{{ abstractClass.resultats|raw }}</p>
                    <h4><u>conclusion/recommandations</u></h4>
                    <p>{{ abstractClass.conclusionOrRecommandations|raw }}</p>
                </td>
            </tr>
            <tr>
                <th>est validé</th>
                <td>{% if abstractClass.estvalide %}Yes{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <th>proprietaire</th>
                <td>
                    {% if abstractClass.proprietaire %}
                        {{ abstractClass.proprietaire.username }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>auteurs</th>
                <td>
                    <table class="table">
                        {% for auteur in abstractClass.auteurs %}
                            <tr>
                                <td>{{ auteur.nom }}</td>
                                <td>{{ auteur.niveauacademique }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
            <tr>
                <th>mots clefs</th>
                <td>
                    <table class="table">
                        {% for motclef in abstractClass.motclef %}
                            <tr>
                                <td>{{ motclef.mot }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </tbody>
    </table>


    {% if abstractClass.proprietaire and abstractClass.proprietaire.id == app.user.id %}
    <a href="{{ path('abstract_edit', { 'id': abstractClass.id }) }}" class="btn btn-primary">Editer</a>
    <br/> <br/>
    {% endif %}
    {{ form_start(delete_form) }}
    <input type="submit" value="Supprimer" class="btn btn-primary">
    {{ form_end(delete_form) }}
    <br/>
    <a href="{{ path('abstract_index') }}" class="btn btn-primary">Retour à la liste</a>

{% endblock %}
