
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Administration - Gestion de la conference</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('BackOfficeBundle/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ asset('BackOfficeBundle/css/metisMenu.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('BackOfficeBundle/css/sb-admin-2.css') }}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ asset('BackOfficeBundle/css/morris.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('BackOfficeBundle/css/font-awesome.css') }}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->

</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Page d'administration de la conference</a>

        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <a href="{{ path('user_homepage') }}"><strong>Site Principal</strong> </a>                           <!-- /input-group -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> Nouveau inscrits
                                <span class="pull-right text-muted small">nombre: 4</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> Nouvelle Soumissions
                                <span class="pull-right text-muted small">nombre: 5</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> inscriptions confirmées
                                <span class="pull-right text-muted small">nombre: 5</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{{ path('user_profil_show') }}"><i class="fa fa-user fa-fw"></i> profil d'utilisateur</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Parametres</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> deconnexion</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Recherche...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="{{ path('back_office_homepage') }}"><i class="fa fa-dashboard fa-fw"></i> Tableau de bord</a>
                    </li>
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i> Parametrage general<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <!--
                            <li>
                                <a href="javascript:switchDisplay();">Editer le programme de la conference</a>
                            </li>
                            -->
                            <li>
                                <a href="{{ path('parametrelabel_index') }}">Parametres globaux</a>
                            </li>
                            <li>
                                <a href="{{ path('criteredenotation_index') }}">Criteres de notations d'abstract</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_cout_index') }}">Definir les prix</a>
                            </li>
                            <li>
                                <a href="{{ path('speaker_index') }}">Definir les speakers</a>
                            </li>
                            <!--
                            <li>
                                <a href="#">Livres des abstracts</a>
                            </li>
                            <li>
                                <a href="#">Fermer le site</a>
                            </li>
                            -->
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    {% endif %}
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <li>
                            <a href="#"><i class="fa fa-users fa-fw"></i>Utilisateurs<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ path('admin_relecteur_index') }}">Relecteurs</a>
                                </li>
                                <!--
                                <li>
                                    <a href="#">Sponsors</a>
                                </li>
                                <li>
                                    <a href="#">Partenaires</a>
                                </li>
                                <li>
                                    <a href="#">Protocoles</a>
                                </li>
                                -->
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    {% endif %}
                    {% if 'ROLE_RELECTEUR' in app.user.roles %}
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i>Relecture<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ path('backoffice_relecture_index') }}">Liste les abstacts a relire</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    {% endif %}
                    <li>
                        <a href="#"><i class="fa fa-book fa-fw"></i> Abstracts et Soumissions<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ path('abstract_index') }}">Liste des Abstracts</a>
                            </li>
                            <li>
                                <a href="{{ path('abstract_new') }}">Ajouter un Nouveau Abstract</a>
                            </li>
                            <!--
                            <li>
                                <a href="#">Appel à soumission</a>
                            </li>
                            <li>
                                <a href="#">Appel à Sponsoring</a>
                            </li>
                            -->
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <!--
                    <li>
                        <a href="#"><i class="fa fa-files-o fa-fw"></i> Inscriptions<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Valider des inscriptions</a>
                            </li>
                            <li>
                                <a href="#">Paiements et comptabilités</a>
                            </li>
                            <li>
                                <a href="#">Badges de participation</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-table fa-fw"></i> Service</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit fa-fw"></i> Partenaires</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-table fa-fw"></i> Statistiques du site</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-table fa-fw"></i>Aide</a>
                    </li>
                    -->
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        {% block body %}
        {% endblock %}
    </div>

    <!-- /#page-wrapper -->

    <!-- Page button -->
    <div id="page-button" style="display:none;">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Information de base</a></li>
            <li role="presentation"><a href="#">Planning</a></li>
            <li role="presentation"><a href="#">Sous themes</a></li>
        </ul>
        <div style="margin: 0 auto; width: 700px;">
            <form>
                <div class="form-group">
                    <label>Titre :</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp"/>
                </div>
                <div class="form-group">
                    <label>Theme :</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp"/>
                </div>
                <div class="form-group">
                    <label>Resume du theme :</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp"/>
                </div>
                <div class="form-group">
                    <label> lorem ipsum</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp"/>
                </div>
                <button type="submit" class="btn btn-primary">Etape suivante</button>

            </form>
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script type="text/javascript">
    function switchDisplay(){
        var defaut = document.getElementById('page-wrapper');
        var autre = document.getElementById('page-button');
        defaut.style.display = 'none';
        autre.style.display = '';
    }
</script>

{% block javascripts %}
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!-- jQuery -->
    <script src="{{ asset('BackOfficeBundle/js/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('BackOfficeBundle/js/bootstrap.min.js') }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset('BackOfficeBundle/js/metisMenu.min.js') }}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{{ asset('BackOfficeBundle/js/raphael.min.js') }}"></script>
    <script src="{{ asset('BackOfficeBundle/js/morris.min.js') }}"></script>
    <script src="{{ asset('BackOfficeBundle/js/morris-data.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset('BackOfficeBundle/js/sb-admin-2.js') }}"></script>
{% endblock %}
    <script type="text/javascript">
        $(".mce-notification").delay(1000).css('display','none');
    </script>
</body>
</html>
