/*
******************************************
******************************************

          @Zyns Event Styles.
            By: BootstrapCafe

******************************************
******************************************

	1.	Browser Reset + Common styles.
	2.	Header styles.
	3. Home Area Styles.
	4. Info Area Styles.
    5. Conference Area Styles.
    6. Feature Area Styles.
    7. Schedul Area Styles
    8. Sign Up Area Styles
    9. Speaker Area Styles
    10. Faq Area Styles
    11. Partner Area Styles   
    12. Price Area Styles
    13. Registration Area Styles
    14. Contact Area Styles
    15. Google Map Area Styles
    16. Footer Styles


******************************************
******************************************
*/

/*
****************************************************************
  >>> 1. Browser Reset + Common styles
**************************************************************** 
*/

* {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
	font-family: 'Roboto', sans-serif;
	color: #120319;
	font-weight: 800;
}
img{
	max-width: 100%;
}
p {
    margin-bottom: 10px;
}
a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 28px;
	font-weight: 300;
	color: #787878
}

a, a:hover, a:focus, a:visited {
  text-decoration: none !important;
	outline: none !important
}
input {
    outline: none !important;
}
/* for top & bottom padding */
.sec_pdng{
	padding: 100px 0;
}

/*for top padding*/
.sec_pdng_t{
	padding-top: 100px;
}

/*for bottom padding*/
.sec_pdng_b{
	padding-bottom: 100px;
}

.section_title {
    text-align: center;
	margin-bottom: 90px;
}
.section_title > img {
    margin-bottom: 15px;
}
.section_title > p {
    color: #aaaaaa;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.section_title > h1 {
    font-size: 34px;
    text-transform: uppercase;
}
a.button {
	border: 1px solid #0098e9;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    line-height: 55px;
    width: 200px;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	text-align: center;
}
a.button:hover{
	background: transparent;
	border-color: #fff;
}
.hvr-rectangle-in{
	background: transparent;
	vertical-align: top
}
.hvr-rectangle-in::before{
	background: #0098e9
}
.hvr-rectangle-in:active, .hvr-rectangle-in:focus, .hvr-rectangle-in:hover{
    color: #0098e9
}
body.preloader_active {
    position: absolute;
 overflow: hidden;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
}
#preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99999999999;
}
.preloader_spinner {
    background: url(img/preloader.gif) no-repeat scroll center center;
    display: block;
    height: 64px;
    width: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999999999999;
    margin-top: -32px;
    margin-left: -32px;
}
/*
****************************************************************
  >>> 2. Header styles
**************************************************************** 
*/

header{
	position: absolute;
	z-index: 2;
	width: 100%;
	top: 0;
}


.sticky{
    position: fixed;
    top: 0;
    z-index: 4;
    background: #11343e;
    width: 100%;
    -webkit-animation: sticky .5s;
    animation: sticky .5s;
}
@-webkit-keyframes sticky {
    0%   {
        top: -100px;
        opacity: 0;
    }
    100%   {
        top: 0;
        opacity: 1
    }
}

@keyframes sticky {
    0%   {
        top: -100px;
        opacity: 0;
    }
    100%   {
        top: 0;
        opacity: 1
    }
}

header.sticky nav.main_menu ul li a {
  padding: 25px 20px;
}

.sticky .logo {
  padding: 24px 0;
}
.logo {
  padding: 50px 0 18px;
}
nav.main_menu ul {
    float: right;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
nav.main_menu ul li {
    display: inline;
    text-align: left;
}
nav.main_menu ul li a {
    color: #fff;
    display: inline-block;
    margin-left: -10px;
    padding: 50px 20px 20px;
    text-align: center;
    text-decoration: none;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	text-transform: capitalize
}

nav.main_menu ul li a:hover,nav.main_menu ul li.current a {
    background: #3a7491 none repeat scroll 0 0;
}
nav.main_menu ul li:first-child a {
    margin-left: 0;
}


/*
****************************************************************
  >>> 3. Home Area Styles
**************************************************************** 
*/

.home_area{
	min-height: 120px;
	background: url(img/banniere.JPG);
	background-size: cover;
	position: relative;
	z-index: 1;
}
.home_area:before{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
	background: rgba(0, 0, 25, .7)
}

.home_content {
    display: table;
    margin-top: 90px;
    width: 100%;
}
.home_cell {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 6px;
}

.home_cell span.conf-nam {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 40px;
    text-transform: uppercase;
	color: #fff;
    display: block;
}
.home_cell > h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.home_cell > span.event-nam {
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 30px;
    text-transform: uppercase;
	color: #fff;
    display: block;
}
.home_cell span.counter {
    font-size: 54px;
    font-weight: 300;
    color: #e36a18;
    margin-bottom: 25px;
     display: block;
}
.home_cell > p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}


.hvr-rectangle-out::before {
    background: #0098e9 none repeat scroll 0 0;
}
.hvr-rectangle-out {
    background: transparent none repeat scroll 0 0;
}

/*
****************************************************************
  >>> 4. Info Area Styles
**************************************************************** 
*/


.info_area {
    border-bottom: 1px solid #ddd;
}
.col-md-3:nth-child(1) .single_info > p, .col-md-3:nth-child(2) .single_info > p {
    margin-right: 40px;
}
.col-md-3:nth-child(3) .single_info > p, .col-md-3:nth-child(4) .single_info > p {
    margin-left: 40px;
}
.single_info > p {
    display: inline-block;
    line-height: 140px;
    margin: 0;
}
.single_info {
    text-align: center;
}
.info_area .col-md-3 {
    border-right: 1px solid #ddd;
}
.info_area .col-md-3:last-child {
    border: medium none;
}
.single_info > p span {
    color: #3a7491;
}



/*
****************************************************************
  >>> 5. Conference Area Styles
**************************************************************** 
*/


.conference_bottom {
    position: relative;
	height: auto
}
.conference_img {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}

.conference_content{
	display: table;
	height: 440px;
}
.conference_cell{
	display: table-cell;
	vertical-align: middle;
	text-align: justify;
	padding-right: 40px;
}
.conference_img img {
    height: 100%;
    width: 100%;
}
.conference_cell > h2 {
    font-size: 22px;
    margin-bottom: 35px;
    text-transform: uppercase;
}
.conference_cell span {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 30px;
    color: #120319;
}
.conference_cell > a {
    color: #3a7491;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline!important;
}

/*
****************************************************************
  >>> 6. Feature Area Styles
**************************************************************** 
*/

.feature_area{
	position: relative;
}

.feature_bg {
    display: block;
    width: 100%;
    height: 455px;
	padding-bottom: 24px;
}
.feature{
	height: 431px;
}
.f_bg_left {
    background: url(img/feature_bg.jpg) ;
	background-size: cover;
	background-position: center;
    display: inline-block;
    float: left;
    height: 100%;
    width: 50%;
	position: relative;
	z-index: 1;
}
.f_bg_left:before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: #181818;
	opacity: .95;
	z-index: -1;
}
.f_bg_right {
    background: #3a7491;
    display: inline-block;
    height: 100%;
    width: 50%;
	position: relative;
}
.f_bg_right > img {
    bottom: -30px;
    position: absolute;
    right: 0;
}

.feature {
    display: table;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.feature_cell {
    display: table-cell;
    vertical-align: middle;
}
.single_feature {
    text-align: center;
}
.feature_icon > img{
    margin-bottom: 25px;
    max-height: 35px
}
.single_feature > h1 {
    color: #3a7491;
    font-size: 32px;
    font-weight: 300;
}
.single_feature > p {
    text-transform: capitalize;
	margin: 0;
}
.col-md-6:nth-child(1) .single_feature,
.col-md-6:nth-child(2) .single_feature{
	margin-bottom: 20px;
}
.col-md-6:nth-child(3) .single_feature,
.col-md-6:nth-child(4) .single_feature{
	margin-top: 20px;
}
.feature_content .col-md-6:before{
    background: #787878 none repeat scroll 0 0;
    content: "";
    position: absolute;
}

.feature_content .col-md-6:nth-child(1):before{
    height: 1px;
    width: 100%;
    bottom:0;
	left: -10px;
}

.feature_content .col-md-6:nth-child(2):before{
	height: 100%;
	width: 1px;
	left: 0;
	top:-10px;
}

.feature_content .col-md-6:nth-child(3):before{
	height: 100%;
	width: 1px;
	bottom:-10px;
	right: -1px;
}

.feature_content .col-md-6:nth-child(4):before{
	height: 1px;
	width: 100%;
	right: -10px;
	top: -1px;
}

.feature_right {
  color: #fff;
  font-size: 13px;
  line-height: 24px;
  padding: 0 0 0 30px;
}
.feature_right > h2 {
  color: #fff;
  text-transform: uppercase;
    margin-bottom: 30px;
    font-size:24px ;
}
.feature_right a.button {
  border-color: #fff;
  color: #3a7491;
  font-size: 17px;
  line-height: 40px;
  width: 180px;
    margin-top: 20px
}
.feature_right a.button::before {
    background: #fff none repeat scroll 0 0;
}
.feature_right a.button:hover {
    color: #fff;
}


/*
****************************************************************
  >>> 7. Schedul Area Styles
**************************************************************** 
*/

.schedule_area{
    overflow: hidden
}

ul.schedul_tab_menu {
    list-style: outside none none;
    margin-bottom: 60px;
    padding: 0;
    text-align: center;
}
ul.schedul_tab_menu li {
    display: inline;
}
ul.schedul_tab_menu li a {
    background: #ebebeb none repeat scroll 0 0;
    color: #3a7491;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    min-width: 180px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
ul.schedul_tab_menu li a:hover{
	background: #0098e9;
	color: #fff
}
ul.schedul_tab_menu li a span{
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
ul.schedul_tab_menu li a:hover span{
	color: #fff;
}
ul.schedul_tab_menu li a span {
    color: #3f3f3f;
    display: block;
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
}
ul.schedul_tab_menu li.active a span,ul.schedul_tab_menu li.active a {
    color: #fff;
	background: #3a7491
}


.single_content {
    float: left;
    height: 60px;
    width: 50%;
    position: relative;
	display: inline-table;
}
.single_cell{
	display: table-cell;
	vertical-align: middle;
}
.single_content:nth-child(2n) {
    margin-bottom: 40px;
    margin-top: 100px;
    padding-left: 40px;
}
.single_content:nth-child(2n+1) {
    padding-right: 40px;
    text-align: right;
}
.single_content:first-child {
    margin-top: 0;
}
.single_content:last-child {
    margin-bottom: 0;
}
.tab-content {
    position: relative;
}
.tab-content::before {
    background: #3a7491 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    width: 1px;
}
.single_content::before {
    background: #3a7491 none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 10px;
    margin-top: -5px;
    position: absolute;
    right: -5px;
    top: 50%;
    width: 10px;
}
.single_content:nth-child(2n)::before {
    left: -5px;
}
.time {
    font-weight: 400;
    line-height: 20px;
    margin-top: -10px;
    position: absolute;
    right: -100px;
    top: 50%;
}
.single_content:nth-child(2n) .time{
	left: -100px;
}
.single_cell > span.cellTitle {
    font-size: 16px;
    text-transform: uppercase;
	margin: 0;
    color: #120319;
    font-weight: 800;
}
.single_cell > p {
    color: #999999;
    margin-bottom: 0;
    margin-top: 10px;
}

.schedule_btn a.button {
    border: 1px solid #fff;
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    width: 250px;
}
.schedule_btn a.button:hover {
    border-color: #0098e9;
    color: #0098e9;
}
.schedule_btn {
    margin-top: 80px;
    text-align: center;
}



/*
****************************************************************
  >>> 8. Sign Up Area Styles
**************************************************************** 
*/

.signup_btn.hvr-rectangle-in:hover,.signup_btn.hvr-rectangle-in:active,.signup_btn.hvr-rectangle-in:focus{
    color: #fff
}
.signup_area {
    background: url(img/signup-bg.jpg);
    background-repeat: repeat;
    height: 200px;
    margin: 20px 0;
    position: relative;
}
.signup_area::before {
  background: url(img/icon-bomb.png);
	background-repeat: no-repeat;
	background-size: cover;
  content: "";
  height: 45px;
  left: 6%;
  position: absolute;
  top: 50%;
	margin-top: -22px;
  width: 45px;
}
.signup_area::after {
  background: url(img/icon-plane.png);
	background-repeat: no-repeat;
	background-size: cover;
  content: "";
  height: 45px;
  right: 6%;
  position: absolute;
  top: 50%;
	margin-top: -22px;
  width: 45px;
}

.signup{
    background: url(img/sign-form-bg.jpg);
    background-size: cover;
    height: 240px;
    position: relative;
    z-index: 1;
    text-align: center;
    border: 1px solid #fff;
}
.signup:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #3a7491;
    opacity: .9;
    z-index: -1
    
}
.signup_wrep {
  height: 240px;
  position: absolute;
  top: -20px;
  width: 100%;
}

.signup_form > h2 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 18px;
}
.signup_form > input {
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    height: 45px;
    margin: 0 0 25px;
    width: 410px;
    padding: 0 20px;
    font-size: 20px;
    color: #3a7491
}

.signup_btn {
    background: #0098e9;
    border: 0 none;
    color: #fff;
    height: 45px;
    margin: 0 0 0 -4px;
    width: 150px;
    border: 1px solid #0098e9;
    
}
.signup_form > p {
    color: #fff;
    line-height: 16px;
    margin: 0;
}
.signup_form {
    padding: 54.5px 0;
}




/*
****************************************************************
  >>> 9. Speaker Area Styles
**************************************************************** 
*/

.speaker_img {
    margin-bottom: 30px;
    padding-right: 45px;
	position: relative
}
.speaker_img img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.speaker_slider .owl-prev, .speaker_slider .owl-next  {
    font-size: 30px;
    line-height: 40px;
    position: absolute;
    top: 90px;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
speaker_slider .owl-prev:hover i, .speaker_slider .owl-next:hover i{
	color: #3a7491
}
.speaker_slider .owl-prev{
	left: -25px;
}
.speaker_slider .owl-next {
    right: -25px;
}

figure:hover .speaker_img img{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
figcaption h2 {
    color: #3a7491;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-size: 18px;
}
figcaption {
    font-size: 16px;
    padding-right: 45px;
    text-align: center;
}
figcaption p {
    line-height: 21px;
    margin: 0;
}
.speaker_icon a {
    background: #3a7491 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    margin-top: 2px;
    position: absolute;
    right: 45px;
    text-align: center;
    top: 50%;
    width: 45px;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	opacity: 0
}
.speaker_icon a:first-child {
    margin-top: -47px;
}
.speaker_icon a:hover{
	background: #0098e9;
	right: 0
}

figure:hover .speaker_icon a{
	right: 0;
	opacity: 1
}

/*
****************************************************************
  >>> 10. Faq Area Styles
**************************************************************** 
*/
.faq_area{
	position: relative;
}

.count_table,.faq_bg{
    height: 540px;
}
.faq_outer_cont{
	position: absolute;
	width: 100%;
	top: 0;
}
.faq_bg_left {
    background: #f3f3f3 none repeat scroll 0 0;
    display: inline-block;
    float: left;
    height: 100%;
    position: relative;
    width: 50%;
}
.faq_bg_right {
    background: rgba(0, 0, 0, 0) url("img/faq_bg.jpg") repeat scroll 0 0;
    float: right;
    height: 100%;
    position: relative;
    width: 50%;
    z-index: 1;
}
.faq_bg_right::before {
    background: #282728 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.faq_title > h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}
.panel_title {
    margin-bottom: 20px;
}
.panel_title a {
    color: #636363;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
.panel {
    border: medium none;
    margin: 0 !important;
	position: relative
}
.panel-group {
    margin: 0;
}
.panel_body {
    margin-bottom: 40px;
    margin-top: 30px;
}

.panel > .panel_heading, .panel,.panel_body {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    padding: 0;
}
.faq{
	padding-left: 60px;
	position: relative;
}
.faq_wrep{
    padding-top: 70px;
}
.faq:before{
	position: absolute;
	content: '';
	width: 1px;
	height: 100%;
	left: 10px;
	top: 0;
	background: #cfcfcf
}
.panel::before {
    background: #3a7491 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    /*content: "?";*/
    font-weight: 400;
    height: 20px;
    left: -60px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 20px;
}
.count_table {
    text-align: center;
	width: 100%;
	position: relative;
	z-index: 2;
    display: table;
}
.count_cell{
	display: block;
	display: table-cell;
	vertical-align: middle;
}
.count_down {
    display: inline-block;
    padding: 20px 0;
    background: #fff;
}

.single_count {
    display: inline-block;
    text-align: center;
    width: 130px;
    border-right: 1px solid #cfcfcf;
}
.single_count:last-child{
	border: none
}
.single_count p {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
}
.single_count h1 {
    font-size: 44px;
    color: #3a7491;
    margin-bottom: 25px;
}
.faq_area .col-md-6.col-md-offset-1 {
    text-align: center;
}



/*
****************************************************************
  >>> 11. Partner Area Styles
**************************************************************** 
*/

.partner_area{
    overflow: hidden
}
.single_partner img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.single_partner:hover img{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.partner_slider .owl-prev {
    left: -30px;
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    font-size: 16px;
}
.partner_slider .owl-nav i{
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.partner_slider .owl-nav i:hover {
    color: #3a7491;
}
.partner_slider .owl-next {
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    right: -30px;
    top: 50%;
    font-size: 16px;
}


/*
****************************************************************
  >>> 11.  Area Styles
**************************************************************** 
*/

.single_price_left {
    background: #3a7491 none repeat scroll 0 0;
    float: left;
    height: 170px;
    outline: 1px solid #fff;
    outline-offset: -20px;
    text-align: center;
    width: 170px;
}
.single_price_left h2 {
    color: #fff;
    line-height: 170px;
    margin: 0;
}
.single_price_right {
    background: #e6e6e6 none repeat scroll 0 0;
    height: 170px;
    margin-left: 190px;
    padding: 30px 40px;
}
.single_price_right h3 {
    color: #3a7491;
    text-transform: uppercase;
}
.single_price_right > p {
    line-height: 25px;
    margin: 0;
}


/*
****************************************************************
  >>> 12. Price Area Styles
**************************************************************** 
*/

a.single_price{
	margin-top: 20px;
	color: #787878;
	display: block
}

a.single_price:first-child{
	margin-top: 0;
}

.single_price_left {
    background: #3a7491 none repeat scroll 0 0;
    float: left;
    height: 168px;
    outline: 1px solid #fff;
    outline-offset: -20px;
    text-align: center;
    width: 168px;
	border: 1px solid #3a7491;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.single_price:hover .single_price_left{
	background: #fff;
}

.single_price_left h2 {
    color: #fff;
    line-height: 170px;
    margin: 0;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.single_price:hover .single_price_left h2{
	color: #3a7491
}


.single_price_right {
    background: #e6e6e6 none repeat scroll 0 0;
    height: 170px;
    margin-left: 190px;
    padding: 30px 40px;
	position: relative;
	z-index: -1;
}
.single_price_right::before {
  background: #3a3a3a none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.single_price:hover .single_price_right:before{
	opacity: .8
}


.single_price_right::after {
    bottom: -8px;
    content: url("img/icon-ticket.png");
    opacity: 0.2;
    position: absolute;
    right: 30px;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.single_price:hover .single_price_right:after{
	opacity: 1
}

.single_price_right h3 {
    color: #3a7491;
    text-transform: uppercase;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
    font-size: 18px;
}
.single_price_right > p {
    line-height: 25px;
    margin: 0;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.single_price:hover .single_price_right h3,.single_price:hover .single_price_right p{
	color: #fff;
}



/*
****************************************************************
  >>> 13. Registration Area Styles
**************************************************************** 
*/

.reg_area{
	background: url(img/reg-bg.jpg);
	background-size: cover;
	background-position: center;
	z-index: 1;
	position: relative;
}
.reg_area .section_title {
  margin-bottom: 45px;
}
.reg_area:before{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #3a7491;
	opacity: .9
}

.reg_area .section_title > h1{
	color: #fff;
}
.single_input, .single_select, .single_btn {
    display: inline-block;
    width: 20%;
	margin-left: -4px;
}
.single_input:first-child{
	margin-left: 0
}
.single_input input, .single_select select, .single_btn button {
    margin-right: 2% !important;
    width: 98% !important;
    background: #fff none repeat scroll 0 0 ;
    font-size: 16px;
    height: 40px;
    padding: 0 10px;
	color: #676767;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	border: none;
	border: 1px solid #fff;
}


.reg_form > form {
    box-sizing: border-box;
    text-align: center;
}
.single_btn button{
	background: #0098e9;
	border-color: #0098e9;
	color: #fff
}

.reg_form form button:hover{
	background: transparent!important;
	border-color: #fff;
	color: #fff
}
.reg_form form input:focus{
	color: #3a7491;
    background: rgba(255, 255, 255, 0.87)
}



/*
****************************************************************
  >>> 14. Contact Area Styles
**************************************************************** 
*/


.contact_form .col-md-6 > input,.contact_form textarea {
    background: #e7e5e8 none repeat scroll 0 0;
    border: medium none;
    color: #484848;
    font-size: 16px;
    height: 45px;
    margin-bottom: 20px;
    padding: 0 50px;
    width: 100%;
	position: relative;
	border: 1px solid #e7e5e8;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	z-index: 1;
	position: relative
}

.green{
    text-align: center;
    color: #0098e9;
    font-size: 20px;
    margin-bottom: 20px
}

.contact_form .col-md-6::after, .contact_form .col-md-12::after {
    content: "";
    font-family: fontawesome;
    left: 37px;
    position: absolute;
    top: 10px;
    z-index: 2;
	font-size: 18px;
}
.contact_form .col-md-6:nth-child(2)::after{
	content: '\f003';
	top: 8px
}
.contact_form .col-md-6:nth-child(3)::after{
	content: '\f095'
}
.contact_form .col-md-12::after{
	content: '\f1d9'
}

.contact_form .col-md-6 > input:focus,.contact_form textarea:focus{
	box-shadow: 0 0 2px #0098e9;
	border-color: #0098e9;
	color: #0098e9;
	background: #fff
}
.contact_form textarea{
	height: 110px;
	padding-top: 10px;
}

.contact_form input[type="submit"] {
    border: 1px solid #0098e9;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 45px;
    text-align: center;
    text-transform: capitalize;
    width: 250px;
background-color: #0098e9;
}
.contact_form .col-md-4.col-md-offset-4 {
    text-align: center;
}
.contact_form input[type="submit"]:hover {
    border-color: #0098e9;
    color: #0098e9;
background-color: #fff;
}




/*
****************************************************************
  >>> 15. Google Map Area Styles
**************************************************************** 
*/
.map_area{
	position: relative;
	height: auto
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
#googleMap{
	width: 100%;
	height: 410px;
}
.map_content{
	height: 410px;
}
.map_cell{
	display: table-cell;
	vertical-align: middle;
	color: #fff
}
.map_content{
	position: absolute;
	top: 0;
	left: 18%;
	background: #3a7491;
	width: 300px;
	box-sizing: border-box;
	padding: 0 30px;
	display: table;
}

.map_cell span {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    font-weight: 400;
}
.map_cell > p {
    margin-bottom: 30px;
}





/*
****************************************************************
  >>> 16. Footer Styles
**************************************************************** 
*/

.footer_table {
    display: table;
    height: 140px;
    width: 100%;
}
.footer_cell {
    display: table-cell;
    vertical-align: middle;
	width: 33.33333%
}

.footer_icon > li {
    display: inline;
    text-align: left;
}
.footer_icon li a {
    color: #b9b9b9;
    font-size: 17px;
    margin-right: 15px;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.footer_icon li a:hover{
	color: #3a7491
}
ul.footer_icon {
    margin: 0;
}
.footer_logo {
    display: inline-block;
    margin-bottom: 15px;
}
.footer_cell:nth-child(2) {
    text-align: center;
}
.footer_cell > p {
    font-weight: 400;
    line-height: 16px;
    margin: 0;
}
.footer_cell:nth-child(3) {
    text-align: right;
}
.footer_cell:nth-child(3) p {
    line-height: 28px;
    text-transform: capitalize;
}
.col-md-offset-3 hr{
    margin: 0;
    padding: 0;
}
.col-md-offset-3 span{
    font-weight: bold;
    font-size: 16px
}

.form-control{
    margin: 0;
    padding: 0;
    width: 300px;
}
/*Css boutons bas page principale*/
.home_btn{
    margin: 4px;
}
.btn-bottom{
    font-size: 20px;
    padding: 12px;
    margin: 0;
    border: 0.5px solid #ffffff;
    color: #ffffff;
}
.btn-bottom:hover{
    margin: 0;
    font-size: 20px;
    padding: 12px;
    border: 0.5px solid #ffffff;
    color: #ffffff;
    background-color: #0098e9;
}
.btn-active{
    margin: 0;
    font-size: 20px;
    padding: 12px;
    border: 0.5px solid #ffffff;
    color: #ffffff;
    background-color: #0098e9;
}

.show-br1,.show-br2{
    display: none;
}
@media (max-width: 1200px) {
    .show-br1{
        display: none;
    }
    .show-br2{
        display: inherit;
    }
}
@media (max-width: 992px) {
    .show-br1{
        display: inherit;
    }
    .show-br2{
        display: none;
    }
}