{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>Parametres list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Clef</th>
                <th>Valeur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parametre in parametres %}
            <tr>
                <td><a href="{{ path('back-office_parametre_show', { 'id': parametre.id }) }}">{{ parametre.id }}</a></td>
                <td>{{ parametre.clef }}</td>
                <td>{{ parametre.valeur }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('back-office_parametre_show', { 'id': parametre.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('back-office_parametre_edit', { 'id': parametre.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('back-office_parametre_new') }}">Create a new parametre</a>
        </li>
    </ul>
{% endblock %}
