{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>Parametre</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parametre.id }}</td>
            </tr>
            <tr>
                <th>Clef</th>
                <td>{{ parametre.clef }}</td>
            </tr>
            <tr>
                <th>Valeur</th>
                <td>{{ parametre.valeur }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('back-office_parametre_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('back-office_parametre_edit', { 'id': parametre.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
