
@media only screen and (min-width: 1200px){
    
    .conference_img {
      left: 50%;
      width: auto;
        right: auto;
    }
    
}


/*		medium Layout: 992px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 992px) and (max-width: 1200px) {

	.sec_pdng{
		padding: 80px 0;
	}
	.sec_pdng_t{
		padding-top: 80px;
	}
	.sec_pdng_b{
		padding-bottom: 80px;
	}
	.section_title {
	  margin-bottom: 70px;
	}
	.conference_cell > h2 {
	  font-size: 20px;
	  margin-bottom: 25px;
	}
	.conference_cell span {
	  margin-top: 20px;
	}
	.conference_content{
		height: 380px;
	}

	.single_feature > h1 {
		font-size: 26px;
		margin-bottom: 7px;
	}
	.feature_icon > img {
		margin-bottom: 15px;
	}
	.feature_right > h1 {
		font-size: 28px;
		margin-bottom: 15px;
	}
    
    
    .feature_right h2 {
        margin-bottom: 20px;
        font-size: 20px
    }

	.feature_right a.button {
		line-height: 35px;
		width: 145px;
        margin-top: 15px
	}
	.feature_right {
		padding: 0 0 0 25px;
        font-size: 12;
        line-height: 20px
	}
	.f_bg_right > img {
		bottom: -23px;
		width: 320px;
	}
	.speaker_img {
	  margin-bottom: 30px;
	  padding-right: 35px;
	}
	.speaker_icon a {
	  height: 35px;
	  line-height: 35px;
	  margin-top: 2px;
	  right: 35px;
	  width: 35px;
	}
	.speaker_icon a:first-child{
		margin-top: -37px;
	}	
	figcaption{
		padding-right: 35px;
		font-size: 14px
	}
	.faq_title > h3 {
		margin-bottom: 30px;
	}
	.panel_title {
		margin-bottom: 15px;
	}
	.panel_body {
		margin-bottom: 30px;
		margin-top: 20px;
	}
	.count_table,.faq_bg{
		height: 464px;
	}

	.single_count {
		width: 100px;
	}
	.single_count p {
		font-size: 15px;
	}
	.single_count h1 {
		font-size: 40px;
		margin-bottom: 20px;
	}	
	.faq_wrep {
	  padding-top: 60px;
	}
	
.single_input {
    margin-bottom: 10px;
    width: 33.3333%;
}
.single_select, .single_btn {
    width: 30%;
}
.single_select {
    margin: 0;
	margin-right: 5px
}
	
.ticket {
    display: inline;
}
.home_cell > h3 {
    font-size: 24px;
    margin-bottom: 30px;
}
.home_cell > span.event-nam {
    font-size: 55px;
    margin-bottom: 25px;
}
.home_cell > p {
    margin-bottom: 25px;
}
.home_cell span.counter {
    font-size: 50px;
}
	
	
	
}



/*		tablet Layout: 768px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	.sec_pdng{
		padding: 60px 0;
	}
	.sec_pdng_t{
		padding-top: 60px;
	}
	.sec_pdng_b{
		padding-bottom: 60px;
	}
	.section_title {
	  margin-bottom: 50px;
	}
    .section_title > h1 {
      font-size: 28px;
    }
    
/*    start mobile menu*/
    .logo{
        padding: 24px 0;
    }
	.navbar-toggle{
		color:#fff;
		font-size: 30px;
		display: block;
		padding: 0;
        margin: 0;
		
	}
	header.stick .collapse {
		display: none!important;
	}
	header.stick .collapse.in {
		display: block !important;
	}
    header .container{
        position: relative;
    }
    .col-md-10.col-sm-12 {
        position: absolute;
        right: 0;
        top: 101px;
    }
    .sticky .col-md-10.col-sm-12 {
        top: 78px;
    }
    .navbar-header {
        position: absolute;
        right: 15px;
        top: -77px;
    }
    .sticky .navbar-header {
        top: -53px;
    }
    nav.main_menu ul {
        display: inline-block;
        background: #662084;
        border-top: 1px solid  rgba(255, 255, 255, .20); ;
        padding: 10px;
    }
    nav.main_menu ul li a, header.stick nav.main_menu ul li a {
        border-bottom: 1px solid rgba(255, 255, 255, .20);
        display: block;
        padding: 10px 20px;
        text-align: left;
        width: 400px;
        margin: 0
    }
    
    
/*  end mobile menu styles*/

    .home_cell > h3 {
        font-size: 20px;
    }
    .home_cell > span.event-nam {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .home_cell > p {
        font-size: 14px;
        margin-bottom: 11px;
    }
    .home_cell span.counter {
        font-size: 45px;
        margin-bottom: 10px;
    }
    a.button {
        font-size: 16px;
        line-height: 40px;
        width: 150px;
    }
    
    .col-md-3:nth-child(1) .single_info > p, .col-md-3:nth-child(2) .single_info > p {
        margin-right: 10px;
    }
    .col-md-3:nth-child(3) .single_info > p, .col-md-3:nth-child(4) .single_info > p {
        margin-left: 10px;
    }
    .single_info > img {
        height: 35px;
    }
    .single_info > p {
        line-height: 90px;
    }

    .conference_cell {
        padding-right: 15px;
    }
    .conference_cell > h2 {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .conference_cell span {
        margin-top: 15px;
    }
    .conference_content {
        height: 300px;
    }

    .single_feature > h1 {
        font-size: 24px;
        margin-bottom: 5px;
    }
    .col-md-6:nth-child(1) .single_feature, .col-md-6:nth-child(2) .single_feature {
        margin-bottom: 15px;
    }
    .col-md-6:nth-child(3) .single_feature, .col-md-6:nth-child(4) .single_feature {
        margin-top: 15px;
    }
    .feature_icon > img {
        margin-bottom: 15px;
        max-height: 30px;
    }
    .feature_right h2 {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .feature_right a.button {
        width: 120px;
        font-size: 13px;
        line-height: 35px;
        margin-top: 10px
    }

    .feature_bg {
        height: 355px;
        padding-bottom: 24px;
    }
    .feature{
        height: 331px;
    }

    .feature_right {
        padding: 0 0 0 10px;
    }
    
    .f_bg_right > img {
        bottom: -20px;
        width: 300px;
    }

.schedule_btn {
    margin-top: 50px;
}
.schedule_btn a.button {
    font-size: 14px;
    width: 180px;
}
    

ul.schedul_tab_menu li a {
    font-size: 14px;
    line-height: 23px;
}
ul.schedul_tab_menu li a span {
    font-size: 13px;
}
.single_cell > span.cellTitle {
    font-size: 14px;
}

figcaption h2 {
    font-size: 16px;
}
figcaption {
    font-size: 14px;
}
.signup_form > input {
    height: 40px;
    width: 300px;
}
.signup_btn {
    height: 40px;
    width: 100px;
}
.signup_form > h2 {
    font-size: 16px;
}
.signup_form {
    padding: 58px 0;
}


.faq_title > h3 {
    font-size: 18px;
    margin-bottom: 25px;
}
.panel_title {
    font-size: 16px;
    margin-bottom: 15px;
}
.panel_body {
    margin-bottom: 20px;
    margin-top: 10px;
}
	
	
	
.single_input {
    margin-bottom: 10px;
    width: 33.3333%;
}
.single_select, .single_btn {
    width: 30%;
}
.single_select {
    margin: 0;
	margin-right: 5px
}

.faq_wrep {
    padding-top: 50px;
}
.count_table, .faq_bg {
    height: 440px;
}	
.count_down {
    padding: 15px 0;
}

.single_count {
    width: 80px;
}
.single_count p {
    font-size: 14px;
}
.single_count h1 {
    font-size: 30px;
    margin-bottom: 10px;
}
	.price_left{
		text-align: center;
		margin-bottom: 50px;
	}
	
	

.map_content {
    height: 360px;
    left: 8%;
    width: 250px;
}
#googleMap {
    height: 360px;
}
.map_cell span {
    margin-bottom: 4px;
}
.map_cell > p {
    margin-bottom: 25px;
}
	
	
	
	
	
	
	
}


/*		mobile Layout: 320px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 0px) and (max-width: 767px) {

    .container {
    	width: 300px
    }
    
    .sec_pdng {
    	padding: 40px 0;
    }
    
    .sec_pdng_t {
    	padding-top: 40px;
    }
    
    .sec_pdng_b {
    	padding-bottom: 40px;
    }
    
    .section_title {
    	margin-bottom: 30px;
    }
    
    .section_title > h1 {
    	font-size: 22px;
    }
    
    .section_title > img {
    	margin-bottom: 5px;
    	width: 9%;
    }
    
    .section_title > p {
    	font-size: 12px;
    	line-height: 20px;
    	margin-bottom: 5px;
    }
    
    .logo {
    	padding: 24px 0
    }
    
    .navbar-toggle {
    	color: #fff;
    	font-size: 20px;
    	display: block;
    	padding: 0;
    	margin: 0;
    }
    
    header.stick .collapse {
    	display: none!important;
    }
    
    header.stick .collapse.in {
    	display: block !important;
    }
    
    header .container {
    	position: relative;
    }
    
    .stick .col-md-10.col-sm-12 {
    	position: absolute;
    	right: 0;
    	top: 101px;
    }
    
    .sticky .col-md-10.col-sm-12 {
    	top: 78px;
    }
    
    .navbar-header {
    	position: absolute;
    	right: 15px;
    	top: -77px;
    }
    
    .sticky .navbar-header {
    	top: -53px;
    }
    
    nav.main_menu ul {
    	display: inline-block;
    	background: #662084;
    	border-top: 1px solid rgba(255, 255, 255, .20);
    	padding: 10px;
    }
    
    nav.main_menu ul li a,
    header.stick nav.main_menu ul li a {
    	border-bottom: 1px solid rgba(255, 255, 255, .20);
    	display: block;
    	padding: 10px 20px;
    	text-align: left;
    	width: 400px;
    	margin: 0
    }
    
    .home_area {
    	min-height: 0;
    	height: auto
    }
    
    .home_content {
    	display: block;
    	margin-top: 80px;
    	padding: 50px 0
    }
    
    .home_cell {
    	display: block;
    }
    
    .home_cell span.conf-nam, .home_cell > h1 {
        font-size: 15px;
        margin-bottom: 21px;
    }
    
    .home_cell > span.event-nam {
    	font-size: 30px;
    	line-height: 24px;
    	margin-bottom: 15px;
    }
    
    .home_cell > p {
    	font-size: 12px;
    	line-height: 20px;
    	margin-bottom: 15px;
    }
    
    .home_cell span.counter {
    	font-size: 30px;
    	margin-bottom: 10px;
    }
    
    a.button {
    	font-size: 12px;
    	line-height: 35px;
    	width: 100px;
    }
    
    .home_btn a.button:first-child {
    	margin-right: 5px;
    }
    
    nav.main_menu ul li a,
    header.stick nav.main_menu ul li a {
    	width: 250px;
    }
    
    nav.navbar-collapse {
    	margin-top: -25px;
    }
    
    .sticky nav.navbar-collapse {
    	margin-top: -1px;
    }
	nav#navbar{
		padding: 0;
	}
    .col-md-3:nth-child(1) .single_info > p,
    .col-md-3:nth-child(2) .single_info > p {
    	margin: 0;
    }
    
    .col-md-3:nth-child(2) .single_info > p {
    	border-right: 0
    }
    
    .col-md-3:nth-child(3) .single_info > p,
    .col-md-3:nth-child(4) .single_info > p {
    	margin: 0;
    }
    
    .single_info > p {
    	font-size: 14px;
    	line-height: 50px;
    }
    
    .single_info > img {
    	display: none;
    }
    
    .col-md-3:nth-child(1),
    .col-md-3:nth-child(2) {
    	border-bottom: 1px solid #ddd;
    }
    
    .col-md-3:nth-child(2) {
    	border-right: 0 none;
    }
    
    .conference_area.sec_pdng {
    	padding-bottom: 0;
    }
    
    .conference_img {
    	margin-top: 40px;
    	position: static;
    	width: 100%;
    }
    
    .conference_cell h2 {
    	font-size: 16px;
    	margin-bottom: 14px;
    	text-align: center;
    }
    
    .conference_content {
    	display: block;
    }
    
    .conference_cell {
    	display: block;
    	font-size: 12px;
    	line-height: 20px;
    	padding: 0;
    	text-align: justify;
    }
    
    .conference_cell span {
    	margin-top: 10px;
    }
    
    .conference_content {
    	height: auto;
    }
    
    .f_bg_left {
    	height: 50%;
    	width: 100%;
    }
    
    .f_bg_right {
    	height: 50%;
    	width: 100%;
    }
    
    .feature_bg {
    	height: 600px;
    	padding: 0 0 20.5px 0;
    }
    
    .feature_icon > img {
    	margin-bottom: 10px;
    }
    
    .single_feature > h1 {
    	font-size: 20px;
    	margin-bottom: 10px;
    }
    
    .col-md-6:nth-child(1) .single_feature,
    .col-md-6:nth-child(2) .single_feature {
    	margin-bottom: 10px;
    }
    
    .col-md-6:nth-child(3) .single_feature,
    .col-md-6:nth-child(4) .single_feature {
    	margin-top: 10px;
    }
    
    .feature_cell {}
    
    .feature_cell .col-md-4:first-child {
    	overflow: hidden;
    }
    
    .feature_content {
    	margin: 37px 0;
    	overflow: hidden;
    }
    
    .f_bg_right > img {
    	bottom: -20px;
    	margin-right: -150px;
    	right: 50%;
    	width: 300px;
    }
    
    .feature_right {
    	text-align: center;
		padding-left: 0;
    }
    
	.feature_right a.button {
	  font-size: 14px;
	  line-height: 34px;
	  margin-top: 10px;
	  width: 140px;
	}
    
    .feature_right h2 {
        font-size: 18px;
		margin-bottom: 15px;
    }
    
    ul.schedul_tab_menu li a {
    	font-size: 14px;
    	line-height: 18px;
    	margin-top: 5px;
    	width: 100%;
    }
    
    ul.schedul_tab_menu {
    	margin-bottom: 40px;
    }
    
    .single_content {
    	height: auto;
    	margin: 45px 0 0 !important;
    	padding: 0 0 0 30px !important;
    	text-align: left !important;
    	width: 100%;
    }
    
    .tab-content::before {
    	left: 10px;
    }
    
    .single_content::before {
    	left: 5px !important;
    }
    
    .single_content:first-child {
    	margin-top: 20px !important;
    }
    
    .single_cell > span.cellTitle {
    	font-size: 14px;
    	line-height: 18px;
    }
    
    .time {
    	left: 29px !important;
    	top: -13px !important;
    }
    
    .single_cell > p {
    	margin-top: 5px;
    }
    
    ul.schedul_tab_menu li a span {
    	font-size: 12px;
    }
    
    .schedule_btn {
    	margin-top: 40px;
    }
    
    .schedule_btn a.button {
    	font-size: 14px;
    	width: 170px;
    }
    
    .signup_form > h2 {
    	font-size: 12px;
    	margin-bottom: 15px;
    }
    
    .signup_form > input {
    	height: 30px;
    	margin-bottom: 10px;
    	width: 85%;
    }
    
    .signup_btn {
    	font-size: 12px;
    	height: 35px;
    	line-height: 35px;
    	margin: 0 0 15px;
    	width: 100px;
    }
    
    .signup_form {
    	padding: 24px 0;
    }
    
    .signup {
    	height: 180px;
    }
    
    .signup_wrep {
    	height: 180px;
    	top: -20px;
    }
    
    .signup_area {
    	height: 140px;
    	margin: 20px 0;
    }
    
    .signup_area::before,
    .signup_area::after {
    	height: 30px;
    	margin-top: -15px;
    	width: 30px;
    }
    
    .signup_form > p {
    	font-size: 11px;
    }
    
    .speaker_area figure {
    	padding: 0 20px;
    }
    
    .speaker_area {
    	overflow: hidden;
    }
    
    .speaker_img,
    figcaption {
    	padding-right: 35px;
    }
    
    .speaker_icon a {
    	height: 35px;
    	line-height: 35px;
    	opacity: 1;
    	right: 0;
    	width: 35px;
    }
    .speaker_icon a:first-child {
    	margin-top: -37px;
    }
	.speaker_img img {
	  filter: grayscale(0%);
	}
    figcaption {
    	font-size: 14px;
    }
    
    .speaker_slider .owl-prev {
    	left: -10px;
    }
    
    .speaker_slider .owl-next {
    	right: -10px;
    }
    
    .faq_bg_left {
    	height: 100%;
    	width: 100%;
    }
    
    .faq_bg_right {
    	display: none
    }
    
    .faq_outer_cont .col-md-6 {
    	display: none
    }
    
    .faq_title > h3 {
    	font-size: 16px;
    	margin-bottom: 20px;
    }
    
    .faq {
    	padding-left: 40px;
    }
    
    .panel::before {
    	font-size: 10px;
    	height: 16px;
    	left: -38px;
    	line-height: 15px;
    	top: 0;
    	width: 16px;
    }
    
    .panel_title {
    	margin-bottom: 10px;
    	font-size: 15px
    }
    
    .panel_body {
    	font-size: 12px;
    	line-height: 20px;
    	margin-bottom: 15px;
    	margin-top: 10px;
    }
    
    .panel_title a {
    	font-size: 14px;
    }
    
    .faq_wrep {
    	padding: 40px 0;
    }
    
    .faq_outer_cont {
    	position: static
    }
    
    .faq_bg {
    	display: none;
    }
    
    .faq_area {
    	background: #f3f3f3 none repeat scroll 0 0;
    }
    
    .partner_slider .owl-prev {
    	left: -15px;
    }
    
    .partner_slider .owl-next {
    	right: -15px;
    }
    
    .single_partner img {
    	filter: grayscale(0);
    }
    
    .single_price_left {
    	height: 90px;
    	outline-offset: -10px;
    	width: 90px;
    }
    
    .single_price_left h2 {
    	font-size: 19px;
    	line-height: 90px;
    }
    
    .single_price_right {
    	height: 90px;
    	margin-left: 100px;
    	padding: 10px;
    }
    
    .single_price_right h3 {
    	font-size: 10px;
    	margin-bottom: 5px;
    }
    
    .single_price_right > p {
    	font-size: 11px;
    	line-height: 17px;
    }
    
    .single_price_right::after {
    	display: none
    }
    
    .price_left {
    	margin-bottom: 20px;
    }
    
    a.single_price {
    	margin-top: 10px;
    }
    
    .single_input,
    .single_select,
    .single_btn {
    	margin: 15px 0 0;
    	width: 100%;
    }
    
    .single_input:first-child {
    	margin: 0;
    }
    
    .contact_form .col-md-6 > input,
    .contact_form textarea {
    	margin-bottom: 15px;
    }
    
    .contact_form button {
    	width: 100%;
    }
    
    .contact_form .col-md-6::after,
    .contact_form .col-md-12::after {
    	font-size: 16px;
    	left: 28px;
    	line-height: 30px;
    }
    
    .contact_form .col-md-6 > input,
    .contact_form textarea {
    	padding: 0 0 0 35px;
    }
    
    .contact_form textarea {
    	padding-top: 10px;
    }
    
    #googleMap {
    	height: 200px;
    }
    
    .footer_table {
    	display: block;
		text-align: center
    }
    
    .footer_cell {
    	display: block;
    	padding-top: 20px;
    	text-align: center!important;
		width: 100%
    }
    
    .footer_cell:last-child {
    	padding-bottom: 30px;
    }
    
    .map_cell span {
    	font-size: 14px;
    	margin-bottom: 0px;
    }
    
    .map_cell > p {
    	font-size: 11px;
    	margin-bottom: 8px;
    }
	.map_content {
	  height: 200px;
	  left: 0;
	  padding: 0 0 0 15px;
	  width: 135px;
	}
    .map_cell > p:last-child {
        margin: 0;
    }
    .conference_area.sec_pdng {
    	padding-bottom: 50px;
    }
    
    .conference_img {
    	display: none
    }
    
    
}



/*		Wide Mobile Layout: 480px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.container{
		width: 450px;
	}
	
	nav#navbar{
		overflow-y: scroll;
	}
	.conference_img {
	  height: 250px;
	  margin: 20px auto 0;
	}
    .speaker_area figure {
        padding: 0 80px;
    }
    .price_left {
        padding: 20px 40px;
    }
    .single_price_left {
        height: 120px;
        outline-offset: -15px;
        width: 120px;
    }
    .single_price_left h2 {
        font-size: 22px;
        line-height: 120px;
    }
    .single_price_right {
        height: 120px;
        margin-left: 140px;
        padding: 15px 20px;
    }
    a.single_price {
        margin-top: 20px;
    }
    .single_price_right h3 {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .single_price_right > p {
        font-size: 13px;
        line-height: 22px;
    }
    .reg_form, .contact_form {
      padding: 0 50px;
    }
    .map_content {
      width: 170px;
    }
    .section_title > img {
      margin-bottom: 5px;
      width: 5%;
    }
    article.conference_content {
      padding: 0 40px;
    }
	nav.main_menu ul {
	  height: 250px;
	  overflow-y: scroll;
	}
	
	
}