{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>Criteredenotations list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Critere</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for critereDeNotation in critereDeNotations %}
            <tr>
                <td><a href="{{ path('criteredenotation_show', { 'id': critereDeNotation.id }) }}">{{ critereDeNotation.critere }}</a></td>
                <td>{{ critereDeNotation.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('criteredenotation_show', { 'id': critereDeNotation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('criteredenotation_edit', { 'id': critereDeNotation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('criteredenotation_new') }}">Create a new critereDeNotation</a>
{% endblock %}
