{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>Criteredenotation</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Critere</th>
                <td>{{ critereDeNotation.critere }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ critereDeNotation.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('criteredenotation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('criteredenotation_edit', { 'id': critereDeNotation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
