{% extends 'back_office_base.html.twig' %}

{% block body %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Tableau de bord</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ nbreUtilisateur }}</div>
                                <div>Utilisateurs</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ path('utilisateurs_index') }}">
                        <div class="panel-footer">
                            <span class="pull-left">Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ nbreAbstract }}</div>
                                <div>Soumissions</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ path('abstract_index') }}">
                        <div class="panel-footer">
                            <span class="pull-left">Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div>Paiements</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-support fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div>Services</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Parametrage generale de la conference</div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-comment fa-fw"></i> Editer le programme</a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-twitter fa-fw"></i> Personnalisations du planning</a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-money fa-fw"></i> critere de notation des abstracts
                            </a>
                            <a href="#" class="list-group-item">
                                <i class=""></i> Parametres du Site</a>
                            <a href="#" class="list-group-item">
                                <i class=""></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Gestions des utilisateurs
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-comment fa-fw"></i>Utilisateurs enregistés</a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-twitter fa-fw"></i>Relecteurs</a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-money fa-fw"></i> Partenaire </a>
                            <a href="#" class="list-group-item">
                                <i class=""></i>Sponsors </a>
                            <a href="#" class="list-group-item">
                                <i class=""></i> Protocoles </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Gestions des Abstracts
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-comment fa-fw"></i> Lancer un appel soumissions</a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-twitter fa-fw"></i> Lancer un appel a Sponsoring</a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-twitter fa-fw"></i> Configurations des types d'abstract</a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-twitter fa-fw"></i> Critere de notation d'abstract</a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-money fa-fw"></i> Liste des soumissions
                                <span class="pull-right text-muted small"><em>hier</em>
                                    </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Services
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-comment fa-fw"></i> Ajouter un nouveau Service</a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-comment fa-fw"></i> Liste des services</a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-comment fa-fw"></i> Tarifications</a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-twitter fa-fw"></i> Type de service</a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-money fa-fw"></i>
                                <span class="pull-right text-muted small"><em>hier</em>
                                    </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Statistiques Generales
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-comment fa-fw"></i> Participations</a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-twitter fa-fw"></i> lorem Ipsum </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-money fa-fw"></i> lorem Ipsum
                                <span class="pull-right text-muted small"><em>hier</em>
                                    </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Panneau d'aide
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-comment fa-fw"></i> lorem Ipsum</a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-twitter fa-fw"></i> lorem Ipsum</a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-money fa-fw"></i> lorem Ipsum
                                <span class="pull-right text-muted small"><em>hier</em>
                                    </span>
                            </a>
                        </div>
                        <!-- /.list-group -->
                        <a href="#" class="btn btn-default btn-block">Toutes les notifications</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}