{% extends "base.html.twig" %}

{% block body %}

<div class="entete">

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1>Compte creer avec success </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <p>Felicitation {{ user.username }}, Votre compte est desormais activé.</p>
                        </div>
                        <div class="form-top-right">
                        </div>
                        <a href="{{ path('user_homepage') }}" class="btn btn-default">Retourner au site</a>
                        <!-- <a href="#" class="btn btn-default pull-right">Retour</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Javascript -->
    <script src="{{ asset('AppBundle/js/jquery-1.js') }}"></script>
    <script src="{{ asset('AppBundle/js/bootstrap.js') }}"></script>
    <script src="{{ asset('AppBundle/js/jquery.js') }}"></script>
    <script src="{{ asset('AppBundle/js/scripts.js') }}"></script>

    <!--[if lt IE 10]>
    <script src="assets/js/placeholder.js"></script>
    <![endif]-->
{% endblock %}
