{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
{{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% autoescape false %}
    Bonjour {{ user.username }} !

    Pour valider votre compte utilisateur, merci de vous rendre sur {{ confirmationUrl }}

    Ce lien ne peut être utilisé qu'une seule fois pour valider votre compte.

    Cordialement,
    L'équipe

{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
