{% extends "base.html.twig" %}

{% block title %}
    <title>Site de la Conference | Nouveau utilisateur</title>
{% endblock %}
{% block body %}
<div class="entete">
    <center> Site de la conference | Nouvel utilisateur</center>
</div>
    <div class="content">
        <div class="title">Formulaire d'enregistrement </div>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register login-form'}}) }}
        {{ form_widget(form.username, {'attr': {'class': 'form-control','placeholder':'Nom...'}}) }}
        {{ form_widget(form.last_name, {'attr': {'class': 'form-control col-lg-4','placeholder':'last name...'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control name','placeholder':'Adresse email...'}}) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control','placeholder':'Mot de passe...'}}) }}
        {{ form_errors(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control','placeholder':'Confirmer le mot de passe...'}}) }}
        {{ form_errors(form.plainPassword.second) }}
        {{ form_rest(form) }}
        {{ form_errors(form) }}
        <button type="submit"  class="btn pull-right">S'enregistrer</button>
        <div class="buttons">
            <button class="facebook"><i class="fa fa-facebook"></i>Facebook</button>
            <button class="twitter"><i class="fa fa-twitter"></i>Twitter</button>
            <button class="google"><i class="fa fa-google-plus"></i>Google</button>
        </div>
        <div class="already">Vous possedez deja un compte? <a href="{{ path('user_login') }}">Connectez Vous</a></div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Javascript -->
    <script src="{{ asset('AppBundle/js/jquery.js') }}"></script>
    <script src="{{ asset('AppBundle/js/index.js') }}"></script>
{% endblock %}
