{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>Liste des prix</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cible</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cout in couts %}
            <tr>
                <td><a href="{{ path('admin_cout_show', { 'id': cout.id }) }}">{{ cout.id }}</a></td>
                <td>{{ cout.cible }}</td>
                <td>{{ cout.prix }} Fcfa</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_cout_show', { 'id': cout.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_cout_edit', { 'id': cout.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_cout_new') }}">Create a new prix</a>
        </li>
    </ul>
{% endblock %}
