{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>Cout</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cout.id }}</td>
            </tr>
            <tr>
                <th>Cible</th>
                <td>{{ cout.cible }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ cout.prix }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_cout_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_cout_edit', { 'id': cout.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
