{% extends "::back_office_base.html.twig" %}

{% block title %}AdminBundle:AbstractClassController:setRelecteurs{% endblock %}

{% block body %}
    <h1>Selectionnez les relecteurs</h1>
    <b>Proprietaire: </b>{{ abstractClass.proprietaire.username }}<br>
    <b>Titre: </b>{{ abstractClass.titre }}<br><br><br>
    <div class="col-lg-12">
        <a href="{{ path('abstract_index') }}"><i class="fa fa-arrow-left"></i>Retourner a la liste des abstracts</a>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-6">
            {% for utilisateur in utilisateurs %}
                {% set state = 'true' %}
                {% for aar in utilisateur.abstractHasRelecteurs %}
                    {% if aar.abstract == abstractClass %}
                        {% set state = 'false' %}
                    {% endif %}
                {% endfor %}
                {% if state == 'true' %}
                    <a href="{{ path('admin_abstractclasscontroller_addrelecteurs', {'idabstract': abstractClass.id,'iduser': utilisateur.id}) }}" >
                        <div class="col-lg-12 panel panel-info">
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <div class="col-lg-12">
                                        Nom: <b>{{ utilisateur.username }} {{ utilisateur.lastName }}</b>
                                    </div>
                                    <div class="col-lg-12">
                                        Domaine d'etude: <b>{{ utilisateur.domaineEtude }}</b>
                                    </div>
                                    <div class="col-lg-12">
                                        Niveau academique: <b>{{ utilisateur.niveauAcademique }}</b>
                                    </div>
                                    <div class="col-lg-12">
                                        <span class="btn btn-info col-lg-12">Definir comme relecteur</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a><br><br>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-lg-6">
            {% for utilisateur in utilisateurs %}
                {% set state = 'true' %}
                {% for aar in utilisateur.abstractHasRelecteurs %}
                    {% if aar.abstract == abstractClass %}
                        {% set state = 'false' %}
                    {% endif %}
                {% endfor %}
                {% if state == 'false' %}
                    <a href="{{ path('admin_abstractclasscontroller_removerelecteurs', {'idabstract': abstractClass.id,'iduser': utilisateur.id}) }}" class="btn btn-default col-lg-12">
                        retirer <b>{{ utilisateur.username }} {{ utilisateur.lastName }}</b> de la liste des rellecteurs
                    </a><br><br>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-12">
        <a href="{{ path('abstract_index') }}"><i class="fa fa-arrow-left"></i>Retourner a la liste des abstracts</a>
    </div>

{% endblock %}
