{% extends '::back_office_base.html.twig' %}

{% block body %}
    <h1>Sousthemes list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sousTheme in sousThemes %}
            <tr>
                <td><a href="{{ path('soustheme_show', { 'id': sousTheme.id }) }}">{{ sousTheme.titre }}</a></td>
                <td>{{ sousTheme.description }}</td>
                <td>{{ sousTheme.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('soustheme_show', { 'id': sousTheme.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('soustheme_edit', { 'id': sousTheme.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('soustheme_new') }}">Create a new sousTheme</a>
        </li>
    </ul>
{% endblock %}
