{% extends '::back_office_base.html.twig' %}

{% block body %}
    <h1>Soustheme</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ sousTheme.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ sousTheme.description }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ sousTheme.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('soustheme_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('soustheme_edit', { 'id': sousTheme.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
