{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>Parametrelabel edit</h1>

    {{ form_start(edit_form) }}
        <div class="form-group">
            <label>Reference</label>
            {{ form_widget(edit_form.ref) }}
        </div>
        <div class="form-group">
            <label>nom</label>
            {{ form_widget(edit_form.labelName) }}
        </div>
        <div class="form-group">
            <label>valeur</label>
            {{ form_widget(edit_form.parametre.valeur) }}
        </div>
        <input type="submit" value="Create" class="btn btn-default" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('parametrelabel_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
