{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>Parametrelabels list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>nom du label</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parametreLabel in parametreLabels %}
            <tr>
                <td><a href="{{ path('parametrelabel_show', { 'id': parametreLabel.id }) }}">{{ parametreLabel.id }}</a></td>
                <td>{{ parametreLabel.ref }}</td>
                <td>{{ parametreLabel.labelName }}</td>
                <td>{{ parametreLabel.parametre.valeur }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('parametrelabel_show', { 'id': parametreLabel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('parametrelabel_edit', { 'id': parametreLabel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parametrelabel_new') }}">Create a new parametreLabel</a>
        </li>
    </ul>
{% endblock %}
