{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>Parametrelabel creation</h1>

    {{ form_start(form) }}
        <div class="form-group">
            <label>Reference</label>
            {{ form_widget(form.ref) }}
        </div>
        <div class="form-group">
            <label>nom</label>
            {{ form_widget(form.labelName) }}
        </div>
        <div class="form-group">
            <label>valeur</label>
            {{ form_widget(form.parametre.valeur) }}
        </div>
        <input type="submit" value="Create" class="btn btn-default" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('parametrelabel_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
