{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>Parametrelabel</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parametreLabel.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ parametreLabel.ref }}</td>
            </tr>
            <tr>
                <th>nom du parametre</th>
                <td>{{ parametreLabel.labelName }}</td>
            </tr>
            <tr>
                <th>Valeur</th>
                <td>{{ parametreLabel.parametre.valeur }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parametrelabel_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('parametrelabel_edit', { 'id': parametreLabel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
