<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from bootstrapcafe.net/demos/zyns/zyns/zyns-event/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 May 2017 17:38:23 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Site de la Conference</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- === Bootstrap === -->
    <link href="{{ asset('AppBundle/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- === font-awesome === -->
    <link href="{{ asset('AppBundle/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- === fonts === -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

    <!-- === hover === -->
    <link rel="stylesheet" href="{{ asset('AppBundle/css/hover.min.css') }}">


    <!-- === owl-carousel === -->
    <link rel="stylesheet" href="{{ asset('AppBundle/css/owl.carousel.css') }}">

    <!-- === custom css === -->
    <link rel="stylesheet" href="{{ asset('AppBundle/style.css') }}">
    <link rel="stylesheet" href="{{ asset('AppBundle/css/responsive.css') }}">

    <link rel="icon" href="{{ asset('AppBundle/img/favicon.png') }}">
</head>
<body>
<div id="preloader">
    <div class="preloader_spinner"> </div>
</div>

<!-- ========== 2. Header ========== -->
<header class="stick">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-12">
                <div class="logo" style="margin: 0; padding: 0; margin-top: 25px; ">
                    <a href="{{ path('user_homepage') }}"><img src="{{ asset('AppBundle/img/logo.png') }}" alt="" style="margin: 0; padding: 0; width: 200px;" ></a>
                </div>
            </div>
            <div class="col-md-10 col-sm-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only"></span>
                        <i class="fa fa-th-large"></i>
                    </button>
                </div>
                <nav class="main_menu collapse navbar-collapse" id="navbar">
                    <ul id="nav">
                        <li class="current"><a href="#home">Acceuil</a></li>
                        <li><a href="#info">A Propos</a></li>
                        <li><a href="#schedule">Dates Clés</a></li>
                        <li><a href="#reg">CAHREF 2016</a></li>
                        {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                            {#<li><a href="#id_soumission">Soumission</a></li>#}
                        {#{% endif %}#}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {#<li><a href="{{ path('back_office_homepage') }}">back office</a></li>#}
                            <li><a href="{{ path('fos_user_security_logout') }}">Se deconnecter</a></li>
                        {% else %}
                            <li><a href="{{ path('user_login') }}">Connexion</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ========== 2. /Header ========== -->

<!-- ========== 3. Home Area ========== -->
<section class="home_area" id="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="home_content">
                    <div class="home_cell">
                        <span class="event-nam">Cameroon Health Research Forum</span>
                        {% if param('themeConf') is not null %}
                            <span class="conf-nam">{{ param('themeConf') }}</span>
                        {% else %}
                            <span class="conf-nam">Theme de la conference</span>
                        {% endif %}
                        <p>Description de la conference:<br/>
                            {% if param('descriptionConf') is not null %}
                                {{ param('descriptionConf') }}
                            {% else %}
                                cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum
                            {% endif %}
                        </p>
                        <span class="counter">
                            {% if param('dateConf') is not null %}
                                {{ param('dateConf') }}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                        <h1>Jours Restant</h1>
                        <div class="home_btn">
                            <div class="row">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <span><a href="#" class="btn-bottom btn-active">Profil</a></span>
                                {% else %}
                                    <span><a href="{{ path('user_registration') }}" class="btn-bottom btn-active">Creer un Compte</a></span>
                                {% endif %}
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <span><a href="#id_soumission" class="btn-bottom">Abstract</a></span>
                                    {% else %}
                                        <span><a href="{{ path('user_login') }}" class="btn-bottom">Abstract</a></span>
                                {% endif %}
                                <span class="show-br1">
                                    <br>
                                </span>
                                <span><a href="#" class="btn-bottom">S'enregistrer</a></span>
                                <span class="show-br2">
                                    <br>
                                </span>
                                <span><a href="#" class="btn-bottom">Bourse</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========== 3. /Home Area ========== -->

<!-- ========== 4. Info Area ========== -->
<section class="info_area" id="info">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="single_info">
                    <p><span>123</span>, Yaounde, Cameroun</p>
                    <img src="{{ asset('AppBundle/img/icon-marker.png') }}img/icon-marker.png" alt="">
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="single_info">
                    <p><span>23</span> Juillet, 2017</p>
                    <img src="{{ asset('AppBundle/img/icon-calender.png') }}" alt="">
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="single_info">
                    <img src="{{ asset('AppBundle/img/icon-microphone.png') }}" alt="">
                    <p><span>12 </span>Speakers</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="single_info">
                    <img src="{{ asset('AppBundle/img/icon-clock.png') }}" alt="">
                    <p><span>80 </span>	 Heures</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section_title">
                    {% if param('themeConf') is not null %}
                        <h1>{{ param('themeConf') }}</h1>
                    {% else %}
                        <h1>Theme de la conference</h1>
                    {% endif %}
                    <h4>Sous themes de la conference</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="speaker_slider">
                    {% for sousTheme in sousThemes() %}
                    <figure>
                        <figcaption>
                            <h2>{{ sousTheme.titre }}</h2>
                            <p>{{ sousTheme.description }}</p>
                        </figcaption>
                    </figure>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========== 4. / Info Area ========== -->

<!-- ========== 5. Conference Area ========== -->
<section class="conference_area sec_pdng" id="conference">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section_title">
                    <img src="{{ asset('AppBundle/img/title-people.png') }}" alt="">
                    <p>A propos</p>
                    <h1>conference</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="conference_bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <article class="conference_content">
                        <div class="conference_cell">
                            <h2>Conference & Atelier</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolorem et excepturi libero nisi, odit rem! Consequuntur corporis eveniet ex, excepturi hic labore officiis perferendis quod, quos unde veniam vero. </p>
                            <span>Suivre cette event sur</span> <a href="#">Facebook</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="conference_img">
            <img src="{{ asset('AppBundle/') }}img/mike.jpg" alt="">
        </div>
    </div>
</section>
<!-- ========== 5. / Conference Area ========== -->

<!-- ========== 6. Feature Area ========== -->
<section class="feature_area" id="feature">
    <div class="feature_bg">
        <div class="f_bg_left"></div>
        <div class="f_bg_right">
            <img src="{{ asset('AppBundle/') }}img/man-runner.png" alt="">
        </div>
    </div>
    <div class="feature">
        <div class="feature_cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12">
                        <div class="feature_content">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="single_feature">
                                    <div class="feature_icon">
                                        <img src="{{ asset('AppBundle/') }}img/icon-women.png" alt="">
                                    </div>
                                    <h1 class="counter">4500</h1>
                                    <p>Inscrits</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="single_feature">
                                    <div class="feature_icon">
                                        <img src="{{ asset('AppBundle/') }}img/icon-load.png" alt="">
                                    </div>
                                    <h1 class="counter">4</h1>
                                    <p>Days</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="single_feature">
                                    <div class="feature_icon">
                                        <img src="{{ asset('AppBundle/') }}img/icon-ticket-small.png" alt="">
                                    </div>
                                    <h1 class="counter">2500</h1>
                                    <p>Places restantes</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="single_feature">
                                    <div class="feature_icon">
                                        <img src="{{ asset('AppBundle/') }}img/icon-hall.png" alt="">
                                    </div>
                                    <h1 class="counter">5</h1>
                                    <p>salles</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12">
                        <div class="feature_right">
                            <h2>Atelier</h2>
                            <p>Typi non habent claritatem tam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas.</p>
                            <a href="#" class="button hvr-rectangle-in">S'enregistrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========== 6. / Feature Area ========== -->

<!-- ========== 7. Schedul Area ========== -->
<section class="schedule_area sec_pdng" id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section_title">
                    <img src="{{ asset('AppBundle/') }}img/title-clock.png" alt="">
                    <p>A propos de </p>
                    <h1>Plannimg</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="schedul_content">
                    <div>
                        <!-- Nav tabs -->
                        <ul class="schedul_tab_menu" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#day_1" aria-controls="day_1" role="tab" data-toggle="tab">Jour 1 <span>23 Juillet 2017</span></a>
                            </li>
                            <li role="presentation">
                                <a href="#day_2" aria-controls="day_2" role="tab" data-toggle="tab">Jour 2 <span>23 Juillet 2017</span></a>
                            </li>
                            <li role="presentation">
                                <a href="#day_3" aria-controls="day_3" role="tab" data-toggle="tab">Jour 3 <span>23 Juillet 2017</span></a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane  fade in active clearfix" id="day_1">
                                <div class="single_content">
                                    <div class="single_cell">
                                        <span class="cellTitle">Reception</span>
                                        <div class="time">
                                            08:00
                                        </div>
                                    </div>
                                </div>
                                <div class="single_content">
                                    <div class="single_cell">
                                        <span class="cellTitle">Premiere exposé</span>
                                        <p>par Jonathon Doe</p>
                                        <div class="time">
                                            09:00
                                        </div>
                                    </div>
                                </div>
                                <div class="single_content">
                                    <div class="single_cell">
                                        <span class="cellTitle">Typographie</span>
                                        <p>par Lorem ipsum</p>
                                        <div class="time">
                                            09:00
                                        </div>
                                    </div>
                                </div>
                                <div class="single_content">
                                    <div class="single_cell">
                                        <span class="cellTitle">Pause café</span>
                                        <p>par Lorem Ipsum</p>
                                        <div class="time">
                                            09:00
                                        </div>
                                    </div>
                                </div>
                                <div class="single_content">
                                    <div class="single_cell">
                                        <span class="cellTitle">Deuxieme expose</span>
                                        <p>par Lorem Ipsum</p>
                                        <div class="time">
                                            09:00
                                        </div>
                                    </div>
                                </div>
                                <div class="single_content">
                                    <div class="single_cell">
                                        <span class="cellTitle">Session</span>
                                        <p>par Lorem Ipsum</p>
                                        <div class="time">
                                            09:00
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade clearfix" id="day_2">
                                <div class="single_content">
                                    <div class="single_cell">
                                        <span class="cellTitle">Reception</span>
                                        <div class="time">
                                            08:00
                                        </div>
                                    </div>
                                </div>
                                <div class="single_content">
                                    <div class="single_cell">
                                        <span class="cellTitle">Lorem ipsum dolor sit amet, consectetur adipisicing.</span>
                                        <p>par Paul Jonathon</p>
                                        <div class="time">
                                            09:00
                                        </div>
                                    </div>
                                </div>
                                <div class="single_content">
                                    <div class="single_cell">
                                        <span class="cellTitle">Typographie</span>
                                        <p>par Lorem Ipsum</p>
                                        <div class="time">
                                            09:00
                                        </div>
                                    </div>
                                </div>
                                <div class="single_content">
                                    <div class="single_cell">
                                        <span class="cellTitle">Deuxieme pause café</span>
                                        <p>par Lorem Ipsum</p>
                                        <div class="time">
                                            09:00
                                        </div>
                                    </div>
                                </div>
                                <div class="single_content">
                                    <div class="single_cell">
                                        <span class="cellTitle">Vitae architecto illo ducimus pariatur suscipit.</span>
                                        <p>par Lorem Ipsum</p>
                                        <div class="time">
                                            09:00
                                        </div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade clearfix" id="day_3">
                                    <div class="single_content">
                                        <div class="single_cell">
                                            <span class="cellTitle">Reception</span>
                                            <div class="time">
                                                08:00
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_content">
                                        <div class="single_cell">
                                            <span class="cellTitle">Typographie</span>
                                            <p>par Paul Jonathon</p>
                                            <div class="time">
                                                09:00
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_content">
                                        <div class="single_cell">
                                            <span class="cellTitle">The Latest Design Standard for Web</span>
                                            <p>par Lorem Ipsum</p>
                                            <div class="time">
                                                09:00
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_content">
                                        <div class="single_cell">
                                            <span class="cellTitle">Pause café</span>
                                            <p>par Lorem Ipsum</p>
                                            <div class="time">
                                                09:00
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_content">
                                        <div class="single_cell">
                                            <span class="cellTitle">Lorem ipsum</span>
                                            <p>par Lorem Ipsum</p>
                                            <div class="time">
                                                09:00
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_content">
                                        <div class="single_cell">
                                            <span class="cellTitle">Lorem Ipsum</span>
                                            <p>par Lorem Ipsum</p>
                                            <div class="time">
                                                09:00
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="schedule_btn">
                            <a href="#" class="button hvr-rectangle-in">Telecharger le planning</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========== 7. /Schedul Area ========== -->


<!-- ========== 8. SignUp Area ========== -->
<section class="signup_area" id="signup">
    <div class="signup_wrep">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                <div class="signup">
                    <form action="#" class="signup_form">
                        <h2>Ne manquer pas la conference</h2>
                        <input type="email">
                        <button class="signup_btn hvr-rectangle-in" type="button">S'enregistrer</button>
                        <p>Le delai est desormais proche</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========== 8. /Cta Area ========== -->



<!-- ========== 9. Speaker Area ========== -->
<section class="speaker_area sec_pdng" id="speakers">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section_title">
                    <img src="{{ asset('AppBundle/') }}img/title-speaker.png" alt="">
                    <p>A propos</p>
                    <h1>Speaker</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="speaker_slider">
                    {% for speaker in speakers() %}
                    <figure>
                        <div class="speaker_img">
                            {% if speaker.photo is not null %}
                                <img src="{{ asset('uploads/images/') }}{{ speaker.photo.path }}" alt="{{ speaker.nomComplet }}">
                            {% else %}
                                <img src="{{ asset('AppBundle/') }}" alt="">
                            {% endif %}
                            <div class="speaker_icon">
                                <a href="{{ speaker.adresseFaceBook }}" class="fa fa-facebook"></a>
                                <a href="{{ speaker.adresseTweeter }}" class="fa fa-twitter"></a>
                            </div>
                        </div>
                        <figcaption>
                            <h2>{{ speaker.nomComplet }}</h2>
                        </figcaption>
                    </figure>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========== 9. /Speaker Area ========== -->


<!-- ========== 10. Faq Area ========== -->
<section class="faq_area" id="faq">
    <div class="faq_bg">
        <div class="faq_bg_left"></div>
        <div class="faq_bg_right"></div>
    </div>
    <div class="faq_outer_cont">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <div class="faq_wrep">
                        <div class="faq_title">
                            <h3>Questions frequement posés</h3>
                        </div>
                        <div class="faq">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel">
                                    <div class="panel_heading" role="tab" id="headingOne">
                                        <h3 class="panel_title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Quant est-ce-que la conference debute?</a>
                                        </h3>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel_body">The event at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</div>
                                    </div>
                                </div>
                                <!-- end collapes 1 -->

                                <div class="panel">
                                    <div class="" role="tab" id="headingTwo">
                                        <h3 class="panel_title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How i can reach there?</a>
                                        </h3>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel_body">The event at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</div>
                                    </div>
                                </div>
                                <!-- end collapes 2 -->

                                <div class="panel">
                                    <div class="" role="tab" id="headingThree">
                                        <h3 class="panel_title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">When the event will start?</a>
                                        </h3>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel_body">The event at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</div>
                                    </div>
                                </div>
                                <!-- end collapes 3 -->

                                <div class="panel">
                                    <div class="" role="tab" id="headingFour">
                                        <h3 class="panel_title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">When the event will start?</a>
                                        </h3>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel_body">The event at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</div>
                                    </div>
                                </div>
                                <!-- end collapes 4 -->

                                <div class="panel">
                                    <div class="" role="tab" id="headingFive">
                                        <h3 class="panel_title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">When the event will start?</a>
                                        </h3>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel_body">The event at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</div>
                                    </div>
                                </div>
                                <!-- end collapes 5 -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1 col-sm-6">
                    <div class="count_table">
                        <div class="count_cell">
                            <div class="count_down"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========== 10. /Faq Area ========== -->

<!-- ========== 11. Partner Area ========== -->
<section class="partner_area sec_pdng_t" id="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section_title">
                    <img src="{{ asset('AppBundle/') }}img/title-partner.png" alt="">
                    <p>A propos</p>
                    <h1>Partenaire</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="partner_slider">
                    <div class="single_partner">
                        <a href="#"><img src="{{ asset('AppBundle/') }}img/partners/photoshop.png" alt=""></a>
                    </div>
                    <div class="single_partner">
                        <a href="#"><img src="{{ asset('AppBundle/') }}img/partners/illustrator.png" alt=""></a>
                    </div>
                    <div class="single_partner">
                        <a href="#"><img src="{{ asset('AppBundle/') }}img/partners/dribbble.png" alt=""></a>
                    </div>
                    <div class="single_partner">
                        <a href="#"><img src="{{ asset('AppBundle/') }}img/partners/behance.png" alt=""></a>
                    </div>
                    <div class="single_partner">
                        <a href="#"><img src="{{ asset('AppBundle/') }}img/partners/dribbble.png" alt=""></a>
                    </div>
                    <div class="single_partner">
                        <a href="#"><img src="{{ asset('AppBundle/') }}img/partners/illustrator.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========== 11. /Partner Area ========== -->

<!-- ========== 12. Price Area ========== -->
<section class="price_area sec_pdng" id="price">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section_title">
                    <img src="{{ asset('AppBundle/') }}img/title-ticket.png" alt="">
                    <p>A propos</p>
                    <h1>tarifs de participation</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-lg-5">
                <div class="price_left">
                    <img src="{{ asset('AppBundle/') }}img/ticket.png" alt="">
                </div>
            </div>
            <div class="col-md-7 col-lg-6 col-lg-offset-1">
                <a href="#" class="single_price">
                    <div class="single_price_left">
                        <h2>$<span class="counter">250</span></h2>

                    </div>
                    <div class="single_price_right">
                        <h3>Early Bird Save Now</h3>
                        <p>Claritas est etiam processus</p>
                        <p>Consuetudium lectorum </p>
                        <p>Formas humanitatis per</p>
                    </div>
                </a>
                <a href="#" class="single_price">
                    <div class="single_price_left">
                        <h2>$<span class="counter">350</span></h2>

                    </div>
                    <div class="single_price_right">
                        <h3>Conference</h3>
                        <p>Claritas est etiam processus</p>
                        <p>Consuetudium lectorum </p>
                        <p>Formas humanitatis per</p>
                    </div>
                </a>
                <a href="#" class="single_price">
                    <div class="single_price_left">
                        <h2>$<span class="counter">550</span></h2>

                    </div>
                    <div class="single_price_right">
                        <h3>Atelier</h3>
                        <p>Claritas est etiam processus</p>
                        <p>Consuetudium lectorum </p>
                        <p>Formas humanitatis per</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ========== 12. /Price Area ========== -->


<!-- ========== 13. Reg Area ========== -->
<section class="reg_area sec_pdng" id="reg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section_title">
                    <img src="{{ asset('AppBundle/') }}img/title-reg.png" alt="">
                    <p>A propos</p>
                    <h1>Enregistrement</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="reg_form">
                    <form action="#">
                        <div class="single_input">
                            <input type="text" placeholder="Nom">
                        </div>
                        <div class="single_input">
                            <input type="text" placeholder="numero de telephone">
                        </div>
                        <div class="single_input">
                            <input type="email" placeholder="Email">
                        </div>
                        <div class="single_select">
                            <select name="reg_select">
                                <option value="workshop">Atelier</option>
                                <option value="conference">conference</option>
                                <option value="wo_conference">workshop</option>
                            </select>
                        </div>
                        <div class="single_btn">
                            <button type="submit" class="">S'enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========== 13. /Reg Area ========== -->


<!-- ========== 13. Soumission ========== -->
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <section class="soumission" id="id_soumission">
        <br>
        <h2 style="text-align: center">Soumission d'abstract</h2>
        {% for label, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="flash-{{ label }} alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="container">
            <div class="row">
            {{ form_start(abstract_form) }}
            <div class="col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Veuillez remplir le formulaire suivant
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-6" >
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a data-toggle="collapse" href="#collapse1"><i class="material-icons">menu</i> Abstract</a>
                                    </div>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div class="panel-body" style="border: 1px solid #000000">
                                        <div class="form-group">
                                            {{ form_label(abstract_form.titre) }}:
                                            {{ form_widget(abstract_form.titre,{'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(abstract_form.justification) }}:
                                            {{ form_widget(abstract_form.justification,{'attr':{'novalidate':true}}) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(abstract_form.objectif) }}:
                                            {{ form_widget(abstract_form.objectif,{'attr':{'novalidate':true}}) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(abstract_form.methodologie) }}:
                                            {{ form_widget(abstract_form.methodologie,{'attr':{'novalidate':true}}) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(abstract_form.resultats) }}:
                                            {{ form_widget(abstract_form.resultats,{'attr':{'novalidate':true}}) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(abstract_form.conclusionOrRecommandations) }}:
                                            {{ form_widget(abstract_form.conclusionOrRecommandations,{'attr':{'novalidate':true}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group panel panel-primary" style="border: 1px solid #000000">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a data-toggle="collapse" href="#collapse2"><i class="material-icons">menu</i> Auteurs</a>
                                    </div>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{ form_row(abstract_form.auteurs) }}
                                    </div>
                                    <div class="panel-footer">
                                        <a id="add_palmares" href="#" class="btn btn-default">Ajouter un Auteur</a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group panel panel-primary" style="border: 1px solid #000000">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a data-toggle="collapse" href="#collapse3"><i class="material-icons">menu</i> Mot clef</a>
                                    </div>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{ form_row(abstract_form.motclef) }}
                                    </div>
                                    <div class="panel-footer">
                                        <a id="add_motclef" href="#" class="btn btn-default">Ajouter un Mot Clef</a>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="panel-footer">

                        {{ form_widget(abstract_form.soumettre) }}
                    </div>
                </div>
            </div>
            {{ form_end(abstract_form) }}
            <div class="col-lg-2">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <strong>
                            <th>Vos abstracts</th>
                        </strong>
                    </tr>
                    </thead>
                    <tbody>
                    {% for abstractClass in app.user.abstracts %}
                        <div class="modal fade" id="myModal-{{ abstractClass.id }}" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{ abstractClass.titre }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div style="border: solid 1px; padding: 5px">
                                                    <h4><u>justification</u></h4>
                                                    <p>{{ abstractClass.justification|raw }}</p>
                                                    <h4><u>objectif</u></h4>
                                                    <p>{{ abstractClass.objectif|raw }}</p>
                                                    <h4><u>methodologie</u></h4>
                                                    <p>{{ abstractClass.methodologie|raw }}</p>
                                                    <h4><u>resultats</u></h4>
                                                    <p>{{ abstractClass.resultats|raw }}</p>
                                                    <h4><u>conclusion/recommandations</u></h4>
                                                    <p>{{ abstractClass.conclusionOrRecommandations|raw }}</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4" >
                                                <div class="col-lg-12" style="border-left: 1px #000000 solid">
                                                    <ul>
                                                        <li>
                                                            <dl>
                                                                <dt>est validé</dt>
                                                                <dd>{% if abstractClass.estvalide %}Yes{% else %}Non{% endif %}</dd>
                                                            </dl>
                                                        </li>
                                                        <li>
                                                            <dl>
                                                                <dt>proprietaire</dt>
                                                                <dd>
                                                                    {% if abstractClass.proprietaire %}
                                                                        {{ abstractClass.proprietaire.username }}
                                                                    {% endif %}
                                                                </dd>
                                                            </dl>
                                                        </li>
                                                        <li>
                                                            <dl>
                                                                <dt>mots clefs</dt>
                                                                <dd>
                                                                    <div class="list-group">
                                                                        {% for motclef in abstractClass.motclef %}
                                                                            <li class="list-group-item">{{ motclef.mot }}</li>
                                                                        {% endfor %}
                                                                    </dic>
                                                                </dd>
                                                            </dl>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <br>
                                            <div class="col-lg-12">
                                                <div class="list-group">
                                                    <div class="list-group-item list-group-item-info">
                                                        Listes des auteurs
                                                    </div>
                                                    {% for auteur in abstractClass.auteurs %}
                                                        <div class="list-group-item">
                                                            <span class="label label-default">{{ auteur.nom }} {{ auteur.prenom }}</span>
                                                            <span class="label label-default">{{ auteur.niveauacademique }}</span>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal-{{ abstractClass.id }}"><i class="fa fa-eye"></i>{{ abstractClass.titre }}</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </section>
{% endif %}

<!-- ========== 13. /Reg Area ========== -->



<!-- ========== 14. Contact Area ========== -->
<section class="contact_area sec_pdng" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section_title">
                    <img src="{{ asset('AppBundle/') }}img/title-reg.png" alt="">
                    <p>A propos</p>
                    <h1>Contact</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <form action="http://bootstrapcafe.net/demos/zyns/zyns/zyns-event/mail.php" method="POST" class="contact_form">
                <div class="col-md-6"><input name="fullName" type="text" placeholder="Nom"></div>
                <div class="col-md-6"><input name="yourEmail" type="email" placeholder="Email"></div>
                <div class="col-md-6 col-md-offset-3"><input name="phoneNumber" type="text" placeholder="No Phone"></div>
                <div class="col-md-12"><textarea name="yourMessege" placeholder="Votre message"></textarea></div>
                <div class="col-md-4 col-md-offset-4"><input name="submit" type="submit" class="hvr-rectangle-in" value="envoyer"></div>

            </form>
        </div>
    </div>
</section>
<!-- ========== 14. /Contact Area ========== -->

<!-- ========== 15. Google Map Area ========== -->
<section class="map_area" id="map">
    <div id="googleMap"></div>
    <div class="map_content">
        <div class="map_cell">
            <span>Localisation</span>
            <p>Yaoundé</p>
            <span>Email</span>
            <p>abc@xyz.com</p>
            <span>No telephone</span>
            <p>(237) 699988844</p>
        </div>
    </div>
</section>
<!-- ========== 15. /Google Map Area ========== -->


<!-- ========== 16. Footer ========== -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer_table">
                    <div class="footer_cell">
                        <ul class="footer_icon">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                        </ul>
                    </div>
                    <div class="footer_cell">
                        <a href="#" class="footer_logo">
                            <img src="{{ asset('AppBundle/') }}img/logo.png" alt="" style="width: 200px">
                        </a>
                        <p>Gestion Conference</p>
                    </div>
                    <div class="footer_cell">
                        <p>copyright &copy; 2017</p>
                        <p>Designé par: Open-IT</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ========== 16. /Footer ========== -->






<!-- Google Map Api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB875Rnwq78QlbQ8KamXfyO75sen88YyKI"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ asset('AppBundle/') }}js/jquery.1.11.3.min.js"></script>

<!-- Bootstrap -->
<script src="{{ asset('AppBundle/') }}js/bootstrap.min.js"></script>

<!-- owl-carousel -->
<script src="{{ asset('AppBundle/') }}js/owl.carousel.min.js"></script>

<!-- nav-js -->
<script src="{{ asset('AppBundle/') }}js/jquery.nav.js"></script>

<!-- count-down -->
<script src="{{ asset('AppBundle/') }}js/jquery.countdown.min.js"></script>

<!-- counter up -->
<script src="{{ asset('AppBundle/') }}js/jquery.counterup.min.js"></script>

<!-- waypoint -->
<script src="{{ asset('AppBundle/') }}js/waypoints.min.js"></script>

<!-- active js -->
<script src="{{ asset('AppBundle/') }}js/active.js"></script>


<!-- ===== google map script ===== -->
<script>
    var myCenter=new google.maps.LatLng(3.852870,11.498922);
    function initialize()
    {
        var mapProp = {
            center:myCenter,
            scrollwheel: false,
            zoom:15,
            zoomControl:false,
            mapTypeControl:false,
            streetViewControl:false,
            mapTypeId:google.maps.MapTypeId.ROADMAP,
            styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
        };

        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

        var marker=new google.maps.Marker({
            position:myCenter,
            icon:'img/marker.png'
        });
        marker.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<!-- ===== /google map ===== -->
<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=np975634r5u3f75q04jk5vqrhfre1ido0auu3hk8acc3x1la"></script>
    <script>
        tinymce.init({
            selector: '#appbundle_abstractclass_justification'
        });
        tinymce.init({
            selector: '#appbundle_abstractclass_objectif'
        });
        tinymce.init({
            selector: '#appbundle_abstractclass_methodologie'
        });
        tinymce.init({
            selector: '#appbundle_abstractclass_resultats'
        });
        tinymce.init({
            selector: '#appbundle_abstractclass_conclusionOrRecommandations'
        });
    </script>

    <!-- auteurs -->
    <script type="text/javascript">
        $(document).ready(function () {
            var $containerPalmares = $('div#appbundle_abstractclass_auteurs')
            var index = $containerPalmares.find(':input').length/3;

            $('#add_palmares').click(function (e) {
                addPalmares($containerPalmares);
                e.preventDefault();
                return false;
            });

            if(index == 0 ){
                addPalmares($containerPalmares)
            }else{
                $containerPalmares.children('div').each(function () {
                    addDeleteLink($(this));
                });
            }

            function addPalmares($containerPalmares) {
                var template = $containerPalmares.attr('data-prototype')
                    .replace(/__name__label__/g,'Auteur '+(index+1))
                    .replace(/__name__/g, (index+1))

                var $prototype = $(template);
                addDeleteLink($prototype);
                $containerPalmares.append($prototype);
                index++
            }

            function addDeleteLink($prototype) {
                var $deleteLink = $('<br><a href="#" class="btn btn-banger">Supprimer</a><br><br>');
                $prototype.append($deleteLink);
                $deleteLink.click(function (e) {
                    $prototype.remove();
                    index--;
                    e.preventDefault();
                    return false;
                })
            }
        })
    </script>
    <!-- mots clefs -->
    <script type="text/javascript">
        $(document).ready(function () {
            var $containerMotclef = $('div#appbundle_abstractclass_motclef')
            var indexMotclef = $containerMotclef.find(':input').length;

            $('#add_motclef').click(function (e) {
                addMotclef($containerMotclef);
                e.preventDefault();
                return false;
            });

            if(indexMotclef == 0 ){
                addMotclef($containerMotclef)
            }else{
                $containerMotclef.children('div').each(function () {
                    addDeleteLinkMotclef($(this));
                });
            }

            function addMotclef($containerMotclef) {
                var template = $containerMotclef.attr('data-prototype')
                    .replace(/__name__label__/g,'Mot clef '+(indexMotclef+1))
                    .replace(/__name__/g, (indexMotclef+1))

                var $prototype = $(template);
                addDeleteLinkMotclef($prototype);
                $containerMotclef.append($prototype);
                indexMotclef++
            }

            function addDeleteLinkMotclef($prototype) {
                var $deleteLink = $('<br><a href="#" class="btn btn-primary">Supprimer</a><br><br>');
                $prototype.append($deleteLink);
                $deleteLink.click(function (e) {
                    $prototype.remove();
                    indexMotclef--;
                    e.preventDefault();
                    return false;
                })
            }
        })
    </script>
    <!-- mail -->
    <script type="text/javascript">
        $(document).ready(function () {
            var $containerMmail = $('div[id*=appbundle_abstractclass_auteurs_][id$=_emails]')
            var indexMmail = $containerMmail.find(':input').length/2;

            $containerMmail.append('<a id="add_mail" href="#" class="btn btn-default">Ajouter un mail</a>')
            $('#add_mail').click(function (e) {
                addMmail($containerMmail);
                e.preventDefault();
                return false;
            });

            if(indexMmail == 0 ){
                addMmail($containerMmail)
            }else{
                $containerMmail.children('div').each(function () {
                    addDeleteLinkMmail($(this));
                });
            }

            function addMmail($containerMmail) {
                var template = $containerMmail.attr('data-prototype')
                    .replace(/Auteur/g,'Mail '+(indexMmail+1)+' - Auteur ')
                    .replace(/__name__/g, (indexMmail+1))

                var $prototype = $(template);
                addDeleteLinkMmail($prototype);
                $containerMmail.append($prototype);
                indexMmail++
            }

            function addDeleteLinkMmail($prototype) {
                var $deleteLink = $('<br><a href="#" class="btn btn-primary">Supprimer</a><br><br>');
                $prototype.append($deleteLink);
                $deleteLink.click(function (e) {
                    $prototype.remove();
                    indexMmail--;
                    e.preventDefault();
                    return false;
                })
            }
        })
    </script>
    <!-- tel -->
    <script type="text/javascript">
        $(document).ready(function () {
            var $containerTel = $('div[id*=appbundle_abstractclass_auteurs_][id$=_telephones]')
            var indexTel = $containerTel.find(':input').length/2;

            $containerTel.append('<a id="add_tel" href="#" class="btn btn-default">Ajouter un numero</a>')
            $('#add_tel').click(function (e) {
                addTel($containerTel);
                e.preventDefault();
                return false;
            });

            if(indexTel == 0 ){
                addTel($containerTel)
            }else{
                $containerTel.children('div').each(function () {
                    addDeleteLinkTel($(this));
                });
            }

            function addTel($containerTel) {
                var template = $containerTel.attr('data-prototype')
                    .replace(/Auteur/g,'Numero '+(indexTel+1)+' - Auteur ')
                    .replace(/__name__/g, (indexTel+1))

                var $prototype = $(template);
                addDeleteLinkTel($prototype);
                $containerTel.append($prototype);
                indexTel++
            }

            function addDeleteLinkTel($prototype) {
                var $deleteLink = $('<br><a href="#" class="btn btn-primary">Supprimer</a><br><br>');
                $prototype.append($deleteLink);
                $deleteLink.click(function (e) {
                    $prototype.remove();
                    indexTel--;
                    e.preventDefault();
                    return false;
                })
            }
        })
    </script>
</body>
</html>