{% extends "base.html.twig" %}
{% block title %}
    <title>Site de la Conference | Connexion</title>

{% endblock %}
{% block body %}

    <div class="entete">
        <center> Site de la conference | Connexion</center>
    </div>
    <div class="content2">
        <div class="title">Connectez - Vous </div>
        {% if error %}
            <div class="error">{{ error.message | replace({"Bad credentials." : "*Mot de passe ou nom d'utilsateur invalide"}) }}</div>
        {% endif %}
        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-username form-control" placeholder="Nom d'utilisateur..." />
            <input type="password" id="password" name="_password" required="required" placeholder="Mot de passe..." class="form-password form-control"/>
            <button type="submit"  class="btn pull-right">Se connecter</button>
        </form>

        <div class="social"> <span>Se connecter grace au reseaux sociaux</span></div>
        {% block hwi_oauth_content %}
        <div class="buttons">
            <a href="{{ hwi_oauth_login_url(hwi_oauth_resource_owners()[0]) }}"><button class="facebook"><i class="fa fa-facebook"></i>{{ hwi_oauth_resource_owners()[0] | trans({}, 'HWIOAuthBundle') }}</button></a>
            <a href="{{ hwi_oauth_login_url(hwi_oauth_resource_owners()[1]) }}"><button class="linkedin"><i class="fa fa-linkedin"></i>{{ hwi_oauth_resource_owners()[1] | trans({}, 'HWIOAuthBundle') }}</button></a>
            <a href="{{ hwi_oauth_login_url(hwi_oauth_resource_owners()[2]) }}"><button class="google"><i class="fa fa-google-plus"></i>{{ hwi_oauth_resource_owners()[2] | trans({}, 'HWIOAuthBundle') }}</button></a>
        </div>
        {% endblock hwi_oauth_content %}
        <div class="already">Ou desirez vous creer un compte? <a href="{{ path('user_registration') }}">Creer un compte</a></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Javascript -->
    <script src="{{ asset('AppBundle/js/jquery.js') }}"></script>
    <script src="{{ asset('AppBundle/js/index.js') }}"></script>
{% endblock %}
