{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>Liste des Utilisateurs</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Salutation</th>
                <th>Middlename</th>
                <th>Lastname</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('utilisateurs_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.salutation }}</td>
                <td>{{ user.middleName }}</td>
                <td>{{ user.lastName }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('utilisateurs_show', { 'id': user.id }) }}">Voir</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
