{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Salutation</th>
                <td>{{ user.salutation }}</td>
            </tr>
            <tr>
                <th>Middlename</th>
                <td>{{ user.middleName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastName }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('utilisateurs_index') }}">Retour a la Liste</a>
        </li>
    </ul>
{% endblock %}
