{% extends "::back_office_base.html.twig" %}

{% block title %}AdminBundle:Relecteur:index{% endblock %}

{% block body %}
<h1>Page d'ajout de nouveaux relecteurs</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <strong>
                <th>Id</th>
                <th>nom</th>
                <th>domaine d'etude</th>
                <th>niveau</th>
                <th>Actions</th>
            </strong>
        </tr>
    </thead>
    <tbody>
    {% for utilisateur in relecteurs %}
    <tr>
        <td>
            {{ utilisateur.id }}
        </td>
        <td>
            {{ utilisateur.username }}
            {{ utilisateur.lastname }}
        </td>
        <td>
            {{ utilisateur.domaineEtude }}
        </td>
        <td>
            {{ utilisateur.niveauAcademique }}
        </td>
        <td>
            <div class="btn-group">
                <button class="btn btn-primary" data-toggle="modal" data-target="#retirerModal-{{ utilisateur.id }}">Definir comme relecteur</button>
            </div>
        </td>
    </tr>
        <div class="modal fade" id="retirerModal-{{ utilisateur.id }}" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ utilisateur.username }} {{ utilisateur.lastname }}</h4>
                    </div>
                    <div class="modal-body">
                        Confirmez l'ajout de l'user aux relecteurs?
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-footer">
                        <a href="{{ path('admin_relecteur_set', {'id': utilisateur.id}) }}" class="btn btn-primary">Valider</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}
    </tbody>
</table>
    <a href="{{ path('admin_relecteur_index') }}" class="btn btn-primary">Revenir a la liste des relecteurs</a>
{% endblock %}
