{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>Speakers list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Photo</th>
                <th>Nomcomplet</th>
                <th>Biographie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for speaker in speakers %}
            <tr>
                <td><a href="{{ path('speaker_show', { 'id': speaker.id }) }}">{{ speaker.id }}</a></td>
                <td><img src="{{ asset('uploads/images/') }}{{ speaker.photo.path }}" class="img-responsive" style="height: 50px"></td>
                <td>{{ speaker.nomComplet }}</td>
                <td>{{ speaker.biographie }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('speaker_show', { 'id': speaker.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('speaker_edit', { 'id': speaker.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('speaker_new') }}">Create a new speaker</a>
        </li>
    </ul>
{% endblock %}
