{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>Speaker creation</h1>

    {{ form_start(form, {'class':'form-horizontal'}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('speaker_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
