{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>Speaker</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ speaker.id }}</td>
            </tr>
            <tr>
                <th>Nomcomplet</th>
                <td>{{ speaker.nomComplet }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ speaker.adresseFaceBook }}</td>
            </tr>
            <tr>
                <th>Tweeter</th>
                <td>{{ speaker.adresseTweeter }}</td>
            </tr>
            <tr>
                <th>Biographie</th>
                <td>{{ speaker.biographie }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('speaker_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('speaker_edit', { 'id': speaker.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
