{% extends 'back_office_base.html.twig' %}

{% block body %}
    <h1>Motclefs list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Mot</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for motClef in motClefs %}
            <tr>
                <td><a href="{{ path('admin_motclef_show', { 'id': motClef.id }) }}">{{ motClef.mot }}</a></td>
                <td>{{ motClef.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_motclef_show', { 'id': motClef.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_motclef_edit', { 'id': motClef.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_motclef_new') }}">Create a new motClef</a>
        </li>
    </ul>
{% endblock %}
