{% extends 'base.html.twig' %}

{% block body %}
    <h1>Motclef</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Mot</th>
                <td>{{ motClef.mot }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ motClef.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_motclef_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_motclef_edit', { 'id': motClef.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
